<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sms="http://www.smsweb.com/thymeleaf" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>


</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-12">
        <div class="card-header fs-3">Removed Student List</div>
        <hr/>
        <table id="students-deleted" class="table table-bordered table-striped table-hover table-sm" th:if="${hasStudent}">
          <thead>
          <tr>
            <th>Student Name</th>
            <th>SR No</th>
            <th>Grade</th>
            <th>Regis. Date</th>
            <!--<th>Regis. #</th>-->
            <th>Mother Name</th>
            <th>Father Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Remove Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">

          <tr th:each="academicStudent,iterStat : ${students}">
            <td>
              <a th:href="@{/student/student/showdeleted/{id}(id=${academicStudent.student.uuid})}" th:text="${academicStudent.student.studentName}"></a>
            </td>
            <td th:text="${academicStudent.classSrNo}"></td>
            <td th:text="${academicStudent.grade.gradeName} + ' - ' + ${academicStudent.section.sectionName}"></td>
            <td th:text="${#dates.format(academicStudent.student.registrationDate, 'dd/MMM/yyyy')}"></td>
            <!--<td th:text="${customer.registrationNo}"></td>-->
            <td th:text="${academicStudent.student.motherName}"></td>
            <td th:text="${academicStudent.student.fatherName}"></td>
            <td th:text="${academicStudent.student.mobile1}"></td>
            <td th:text="${academicStudent.student.getUserEntity().getEmail()}"></td>
            <td th:text="${academicStudent.student.address}"></td>
            <td th:text="${academicStudent.student.status}"></td>
            <td th:text="${#dates.format(academicStudent.student.lastUpdated, 'dd/MMM/yyyy')}"></td>
            <td style="white-space: nowrap" class="text-center">
              <a sms:access="STUDENT_ACTIVATE:CREATE" class="btn btn-success activateBtn" id="activateBtnLink" th:data-id="${academicStudent.id}" data-bs-toggle="modal" data-bs-target="#activateConfirmationModal" data-bs-title="Default tooltip" th:data-name="${academicStudent.student.studentName}">
                <i class="bi bi-person-fill-check"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${!hasStudent}">
          <p class="text-center">No Student found.</p>
        </div>

      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="activateConfirmationModal" tabindex="-1" aria-labelledby="activateConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="activateConfirmationModalLabel">Confirm Activation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="confirmMessage"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancel </button>
          <button type="button" class="btn btn-success" id="confirmDeleteButton"><i class="bi bi-person-check-fill"></i> Update </button>
        </div>
      </div>
    </div>
  </div>



  <script th:src="@{/js/jquery-3.7.1.js}"></script>
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/toastr.min.js}"></script>
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
      $('#students-deleted').DataTable({
        scrollX: true,
        layout: {
          bottomEnd: {
            paging: {
              firstLast: false
            }
          },
          top1Start: {
            buttons: [
              {
                extend: 'excelHtml5',
                text: '<i class="bi bi-file-excel-fill text-success"></i>',
                titleAttr: 'Excel',
                title: 'Deleted Students Data export',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                }
              },
              {
                extend: 'csvHtml5',
                text: '<i class="bi bi-filetype-csv text-info"></i>',
                titleAttr: 'CSV',
                title: 'Deleted Students Data export'
              },
              {
                extend: 'pdfHtml5',
                text: '<i class="bi bi-file-pdf-fill text-danger"></i>',
                titleAttr: 'PDF',
                title: 'Deleted Students Data export',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                }
              },
              'colvis'
            ]
          }
        },
        lengthMenu: [
          [5, 10, 25, 50, 100, -1],
          [5, 10, 25, 50, 100, 'All']
        ],
        pageLength: 25,
        columnDefs: [
          { "orderable": false, "targets": [0,7] } // Disable sorting on the first and fourth columns
        ]
      });
      $(".buttons-excel, .buttons-csv, .buttons-pdf").each(function() {
        // Remove the btn-secondary class from each button
        $(this).removeClass("btn-secondary");
      });
    });

    let studentIdForUpdate = null;
    const contextPath = /*[[@{/}]]*/ '/';

    // Capture the ID of the record to be deleted when the delete button is clicked
    $('a[data-bs-target="#activateConfirmationModal"]').on('click', function () {
      const studentId = $(this).data("id");
      const studentName = $(this).data("name");
      console.log("*********************studentName::: "+studentName)
      // Set dynamic message
      $("#confirmMessage").html(
              "Are you sure you want to activate: <b><i>" + studentName + "</i></b>?"
      );
      studentIdForUpdate = $(this).data('id');
      console.log("*********************::: "+studentIdForUpdate)
    });

    // Handle the deletion when "Delete" button is clicked in the modal
    $('#confirmDeleteButton').on('click', function () {
      console.log("============================::: "+studentIdForUpdate)
      if (studentIdForUpdate) {
        // Redirect to the activate URL
        window.location.href = `${contextPath}student/activate-student/${studentIdForUpdate}`;
      }
    });

  </script>

</section>
</body>
</html>