<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>


</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-12">
        <div class="card-header fs-3">Student List</div>
        <hr/>
        <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasStudent}" id="student-list">
            <thead>
            <tr>
              <th>Student Name</th>
              <th>Regis. Date</th>
              <!--<th>Regis. #</th>-->
              <th>Mother Name</th>
              <th>Father Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Address</th>
              <!--<th>Status</th>-->
              <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">

            <tr th:each="student,iterStat : ${students}">
              <td>
                <a th:href="@{/student/student/show/{id}(id=${student.uuid})}" th:text="${student.studentName}"></a>
              </td>
              <td th:text="${#dates.format(student.registrationDate, 'dd/MMM/yyyy')}"></td>
              <!--<td th:text="${customer.registrationNo}"></td>-->
              <td th:text="${student.motherName}"></td>
              <td th:text="${student.fatherName}"></td>
              <td th:text="${student.mobile1}"></td>
              <td th:text="${student.getUserEntity().getEmail()}"></td>
              <td th:text="${student.address}"></td>
              <!--<td th:text="${student.status}"></td>-->
              <td style="white-space: nowrap" class="text-center">
                <a class="btn btn-primary" th:href="@{/student/student/edit/{id}(id=${student.uuid})}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                  <i class="bi bi-pencil-square"></i> </a>
                <!--<a class="btn btn-danger" th:href="@{/student/student/delete/{id}(id=${student.id})}" onclick="return confirm('Are you sure? its not recoverable.')" data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-custom-class="custom-tooltip" data-bs-title="Delete the customer record"> <i class="bi bi-trash3-fill"></i> </a>-->
                <a class="btn btn-danger" th:data-id="${student.id}" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-bs-title="Default tooltip">
                  <i class="bi bi-trash3-fill"></i>
                </a>
              </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${!hasStudent}">
          <p class="text-center">No Student found.</p>
        </div>
        <div class="pt-5 mb-5">
          <a class="btn btn-success" href="/student/student/add"><i class="bi bi-node-plus-fill"></i> Add Student</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancel </button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton"><i class="bi bi-trash3-fill"></i> Delete </button>
        </div>
      </div>
    </div>
  </div>


  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
      $('#student-list').DataTable({
        layout: {
          bottomEnd: {
            paging: {
              firstLast: false
            }
          }
        },
        lengthMenu: [
          [5, 10, 25, 50, 100, -1],
          [5, 10, 25, 50, 100, 'All']
        ],
        pageLength: 25,
        columnDefs: [
          { "orderable": false, "targets": [0,7] } // Disable sorting on the first and fourth columns
        ]
      });
    });

    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "600",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    // Display success message
    const successMessage = [[${success}]];
    if (successMessage) {
      //toastr.success(successMessage);
      toastr["success"](successMessage,"Success");
    }

    const infoMessage = [[${info}]];
    if (infoMessage) {
      //toastr.success(successMessage);
      toastr["info"](infoMessage,"Info");
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }

    // Display error message
    const errorMessage = [[${error}]];
    if (errorMessage) {
      //toastr.error(errorMessage);
      toastr["error"](errorMessage, "Error");
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }

    let deleteId = null;

    // Capture the ID of the record to be deleted when the delete button is clicked
    $('a[data-bs-target="#deleteConfirmationModal"]').on('click', function () {
      deleteId = $(this).data('id');
    });

    // Handle the deletion when "Delete" button is clicked in the modal
    $('#confirmDeleteButton').on('click', function () {
      if (deleteId) {
        // Redirect to the delete URL
        window.location.href = `/student/delete-student/${deleteId}`;
      }
    });


  </script>

</section>
</body>
</html>