<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - School</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-12">
        <div class="card-header fs-3">Academic-Year List</div>
        <hr/>
        <table id="academic-year-list" class="table table-bordered table-striped table-hover table-sm" th:if="${hasAcademicyears}">
          <thead>
          <tr>
            <th>#</th>
            <th>Start date</th>
            <th>End Date</th>
            <th>Format</th>
            <!--<th>Regis. #</th>-->
            <th>Description</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">

          <tr th:each="academic,iterStat : ${academicYears}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${#dates.format(academic.startDate, 'dd/MMM/yyyy')}"></td>
            <td th:text="${#dates.format(academic.endDate, 'dd/MMM/yyyy')}"></td>
            <td th:text="${academic.sessionFormat}"></td>
            <td th:text="${academic.description}"></td>
            <td style="white-space: nowrap" class="text-center">
              <a class="btn btn-primary" th:href="@{/admin/academicyear/edit/{id}(id=${academic.id})}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                <i class="bi bi-pencil-square"></i> </a>
              <a class="btn btn-danger" th:href="@{/admin/academicyear/delete/{id}(id=${academic.id})}" onclick="return confirm('Are you sure? its not recoverable.')" data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-custom-class="custom-tooltip"
                 data-bs-title="Delete the school record">
                <i class="bi bi-trash3-fill"></i> </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${!hasAcademicyears}">
          <p class="text-center">No Academic-year found.</p>
        </div>
        <div class="pt-5">
          <a class="btn btn-success" href="/admin/academicyear/add"><i class="bi bi-node-plus-fill"></i> Add Academic-year</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/toastr.min.js"></script>

  <script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {
      $('#academic-year-list').DataTable({
        layout: {
          bottomEnd: {
            paging: {
              firstLast: false
            }
          },
          top1Start: {
            buttons: [
              {
                extend: 'excelHtml5',
                text: '<i class="fa fa-file-excel-o text-success"></i>',
                titleAttr: 'Excel',
                title: 'Academic Year Data export',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4]
                }
              },
              {
                extend: 'csvHtml5',
                text: '<i class="fa fa-file-text-o text-info"></i>',
                titleAttr: 'CSV',
                title: 'Academic Year Data export'
              },
              {
                extend: 'pdfHtml5',
                text: '<i class="fa fa-file-pdf-o text-danger"></i>',
                titleAttr: 'PDF',
                title: 'Academic Year Data export',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4]
                }
              },
              'colvis'
            ]
          }
        },
        lengthMenu: [
          [5, 10, 25, 50, 100, -1],
          [5, 10, 25, 50, 100, 'All']
        ],
        pageLength: 10,
        columnDefs: [
          { "orderable": false, "targets": [0,5] } // Disable sorting on the first and fourth columns
        ]
      });
    });

    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "600",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    const successMessage = [[${success}]];
    if (successMessage) {
      //toastr.success(successMessage);
      toastr["success"](successMessage,"Success");
    }

    // Display error message
    const errorMessage = [[${error}]];
    if (errorMessage) {
      //toastr.error(errorMessage);
      toastr["error"](errorMessage, "Error");
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }
  </script>
</section>
</body>
</html>