<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}" th:inline="javascript">
<head>
  <meta charset="UTF-8">
  <title>Add academic year</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<section class="container">
  <div class="offset-1 mt-2 gy-5 mb-5">
    <div class="card-header fs-3">Fee-Grade Mapping Form</div>
    <hr/>

    <div class="row g-5">
      <div class="col-auto">
        <label for="feeclass" class="form-label">Select Grade</label>
      </div>
      <div class="col-auto">

        <select id="feeclass" class="form-select" name="feeclass">
          <option value="">Select Grade</option>
          <option th:each="grade : ${grades}" th:value="${grade.id}" th:text="${grade.gradeName}">Grade</option>
        </select>
      </div>
      <div class="col-auto">
         <label for="aa" class="visually-hidden">Button</label>
        &nbsp;<button id="aa" class="btn btn-primary" onclick="loadFeeData()"><i class="bi bi-search"></i> Get Fee</button>
      </div>

    </div>



    <form th:action="@{/admin/fee-class}" th:object="${feeClassMapWrapper}" method="post" >
      <div class="row g-2">

        <div class="col-md-7">
          <!--<label for="school" class="form-label">School</label>-->
          <input type="hidden" name="school_id" id="school_id" th:field="*{feeClassMaps[0].school.id}"/>
          <!--<input type="text" class="form-control" id="school" name="school" th:field="*{school.schoolName}"  readonly/>
          <p class="text-danger" th:if="${#fields.hasErrors('school')}" th:errors="*{school}">school Error</p>-->
        </div>
        <div class="col-md-4">
          &nbsp;<input type="hidden" name="academicYear" id="academicYear" th:field="*{feeClassMaps[0].academicYear.id}" />
        </div>
        <div class="col-md-4">
          &nbsp;<input type="hidden" name="grade" id="grade" th:field="*{feeClassMaps[0].grade}" />
        </div>

        <div id="result">

        </div>




        <hr/>
        <div class="col-md-4">
          <a class="btn btn-info" href="/admin/fee-class"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>
        </div>
        <div class="col-md-6 mb-5">
          <button id="savebtn"  disabled="disabled" type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Save</button>
        </div>
      </div>
    </form>





  </div>

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/toastr.min.js"></script>

  <script type="text/javascript" th:inline="javascript">
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "600",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    const successMessage = [[${success}]];
    if (successMessage) {
      //toastr.success(successMessage);
      toastr["success"](successMessage,"Success");
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }

    // Display error message
    const errorMessage = [[${error}]];
    if (errorMessage) {
      //toastr.error(errorMessage);
      toastr["error"](errorMessage, "Error");
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }

    const loadFeeData=()=>{
      $('#result').html('');
      let classId = $('#feeclass').val();
      console.log("------------------------------------");
      $.ajax({
        url: '/admin/fee-class/getAllFeeData/'+classId, // URL of the Spring Boot endpoint
        type: 'POST',
        success: function(response) {
          let tableContent = '';
          console.log("response:"+response);
          $.each(response, function(key, subMap) {
            console.log("key:"+key);
            console.log("value:::"+subMap);
            if(key === 'success'){
              let index = 1;
              tableContent = '<table class="table table-bordered table-striped table-hover table-sm" id="feeDataTable"><thead><tr><th>#</th><th>Fee Head</th><th>Amount</th><th>Description</th></tr></thead><tbody class="table-group-divider">';
              $.each(subMap, function(subKey, value) {
                //let feeObject = subKey.toJSON();
                console.log("_____-----------__________"+subKey);
                tableContent += '<tr>';
                tableContent += '<td><input type="hidden" th:field="*{feeClassMaps['+ (index-1) +'].id}" name="feeClassMaps['+ (index-1) +'].id" value="'+ subKey.split(':')[2] +'" />' + index + '</td>';
                tableContent += '<td><input type="hidden" th:field="*{feeClassMaps['+ (index-1) +'].feehead}" name="feeClassMaps['+ (index-1) +'].feehead" value="'+subKey.split(':')[0] +'" />' + subKey.split(':')[1] + '</td>';
                tableContent += '<td><input type="number" class="form-control-sm" id="fee_' + subKey.split(':')[0] + '" name="feeClassMaps['+ (index-1) +'].amount" value="' + value + '"/></td>';
                tableContent += '<td><input type="text" class="form-control" id="description_' + subKey.split(':')[0] + '" name="feeClassMaps['+ (index-1) +'].description"/></td>';
                tableContent += '</tr>';
                index++;
              });
              tableContent += '</tbody></table>';
              $('#result').html(tableContent);
              $('#grade').val(classId);
              document.getElementById("savebtn").disabled = false;
            }
            else{
              $('#result').html('<p class="text-center">No Fee-Class Mapping Data Found.</p>');
              document.getElementById("savebtn").disabled = true;
            }
          });

          /*response.forEach(function(item) {
            tableContent += '<tr><td>' + item.col1 + '</td><td>' + item.col2 + '</td></tr>';
          });*/



        },
        error: function(error) {
          console.log(error);
        }
      });
    }

  </script>


</section>


</body>
</html>


