<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Customer</title>
</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-10  offset-md-2 ">
        <div class="card-header fs-3">Customer's List</div>
        <hr/>
        <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasCustomerData}">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Regis. Date</th>
            <th>Regis. #</th>
            <th>Email</th>
            <th>Phone-1</th>
            <th>Address</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">

          <tr th:each="customer,iterStat : ${customers}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${#dates.format(customer.registrationDate, 'dd-MMM-yyyy')}"></td>
            <td th:text="${customer.registrationNo}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.mobile1}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.status}"></td>
            <td style="white-space: nowrap" class="text-center">
              <a class="btn btn-primary" th:href="@{/admin/customer/edit/{id}(id=${customer.id})}">
                <i class="bi bi-pencil-square"></i> </a>
              <a class="btn btn-danger" th:href="@{/admin/customer/delete/{id}(id=${customer.id})}" onclick="return confirm('Are you sure? its not recoverable.')">
                <i class="bi bi-journal-x"></i> </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${!hasCustomerData}">
          <p class="text-center">No Customer found.</p>
        </div>
        <div class="pt-5">
          <a class="btn btn-success" href="/admin/customer/add"><i class="bi bi-node-plus-fill"></i> Add Customer</a>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>