<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <title>Add academic year</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<section class="container">
    <div class="offset-1 mt-2 gy-5 mb-5">
        <div class="card-header fs-3">Edit Academic-Year</div>
        <hr/>

        <form th:action="@{/admin/academicyear/{id}(id=${academicyear.id})}" th:object="${academicyear}" method="post" enctype="multipart/form-data">
            <div class="row g-2">

                <div class="col-md-7">
                    <label for="school" class="form-label">School</label>
                    <input type="hidden" name="school_id" id="school_id" value="4"/>
                    <input type="text" class="form-control" id="school" name="school" th:field="*{school.schoolName}"  readonly/>
                    <!--<select id="school" th:field="*{school}" class="form-select" name="customer">
                        <option value="">Select School</option>
                        <option th:each="school : ${schools}" th:value="${school.id}" th:text="${school.schoolName}"
                                th:selected="${school} == ${academicyear.school}">school</option>
                    </select>-->
                    <p class="text-danger" th:if="${#fields.hasErrors('school')}" th:errors="*{school}">school Error</p>
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>

                <div class="col-md-5">
                    <label for="customer_name" class="form-label">Start Date</label>
                    <input type="text" class="form-control" id="customer_name" name="customer_name" th:field="*{startDate}" />
                    <p class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">date Error</p>
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>

                <div class="col-md-5">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" th:field="*{endDate}" />
                    <p class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">enddate Error</p>
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>

                <div class="col-md-2">
                    <label for="sessionFormat" class="form-label">Format</label>
                    <input type="text" class="form-control" id="sessionFormat" th:field="*{sessionFormat}"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('sessionFormat')}" th:errors="*{sessionFormat}">sessionFormat Error</p>
                </div>
                <div class="col-md-8">
                    &nbsp;
                </div>


                <div class="col-md-7">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea id="description" placeholder="Add description here" class="form-control" name="description" style="height: 100px;" rows="4" cols="50" th:field="*{description}"></textarea>
                        <label for="description">Add Description Here</label>
                    </div>
                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</p>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>

                <hr/>
                <div class="col-md-4">
                    <a class="btn btn-info" href="/admin/academicyear"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>
                </div>
                <div class="col-md-6 mb-5">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Update</button>
                </div>
            </div>
        </form>


    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
    <script src="/js/flatpickr.js"></script>

    <script type="text/javascript" th:inline="javascript">
        flatpickr("#endDate", {
            dateFormat: "d/M/Y",  // Equivalent to dd/MMM/yyyy
        });
        flatpickr("#customer_name", {
            dateFormat: "d/M/Y",  // Equivalent to dd/MMM/yyyy
        });

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "600",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        const successMessage = [[${success}]];
        if (successMessage) {
            //toastr.success(successMessage);
            toastr["success"](successMessage,"Success");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        // Display error message
        const errorMessage = [[${error}]];
        if (errorMessage) {
            //toastr.error(errorMessage);
            toastr["error"](errorMessage, "Error");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
    </script>


</section>


</body>
</html>


