<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - School</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-11  offset-md-1 ">
        <div class="card-header fs-3">School's List</div>
        <hr/>
        <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasSchoolData}">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>School Name</th>
            <th>Board</th>
            <!--<th>Regis. #</th>-->
            <th>Email</th>
            <th>Phone-1</th>
            <!--<th>Address</th>-->
            <th>Website</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">

          <tr th:each="school,iterStat : ${schools}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${school.customer.name}"></td>
            <!--<td th:text="${school.schoolName}"></td>-->
            <td>
              <a th:href="@{/admin/school/show/{id}(id=${school.id})}" th:text="${school.schoolName}"></a>
            </td>
            <td th:text="${school.board}"></td>
            <!--<td th:text="${customer.registrationNo}"></td>-->
            <td th:text="${school.email}"></td>
            <td th:text="${school.mobile1}"></td>
            <!--<td th:text="${customer.address}"></td>-->
            <td th:text="${school.website}"></td>
            <td style="white-space: nowrap" class="text-center">
              <a class="btn btn-primary" th:href="@{/admin/school/edit/{id}(id=${school.id})}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                <i class="bi bi-pencil-square"></i> </a>
              <a class="btn btn-danger" th:href="@{/admin/school/delete/{id}(id=${school.id})}" onclick="return confirm('Are you sure? its not recoverable.')" data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-custom-class="custom-tooltip"
                 data-bs-title="Delete the school record">
                <i class="bi bi-journal-x"></i> </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${!hasSchoolData}">
          <p class="text-center">No School found.</p>
        </div>
        <div class="pt-5">
          <a class="btn btn-success" href="/admin/school/add"><i class="bi bi-node-plus-fill"></i> Add School</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" th:inline="javascript">
  // Display success message
  const successMessage = [[${success}]];
  if (successMessage) {
    //toastr.success(successMessage);
    toastr["success"](successMessage,"Success");
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "500",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
  }

  // Display error message
  const errorMessage = [[${error}]];
  if (errorMessage) {
    //toastr.error(errorMessage);
    toastr["error"](errorMessage, "Error");
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "500",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
  }
</script>
</section>
</body>
</html>