<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>
</head>
<body>
<section>

  <div class="container">
      <div class="row mt-2 ">
          <div class="col-md-12">
              <div class="card-header fs-3">Fee Receipt(s) List - Student</div>
              <hr/>
              <!--Search box-->
              <div class="search-container my-3">
                  <input class="form-control" id="search-input" onkeyup="searchStuName()" placeholder="Search student name" type="text">
                  <div class="search-result">

                  </div>
              </div>

              <hr/>
              <div class="student-detail mb-3">
                  <div class="academic-student-block">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="card">
                                  <h5 class="card-header">Student Detail</h5>
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item studname"><strong>Student Name:</strong></li>
                                      <li class="list-group-item fname"><strong>Father Name:</strong></li>
                                      <li class="list-group-item mname"><strong>Mother Name:</strong></li>
                                      <li class="list-group-item contactno contact-update-btn"><strong>Contact No:</strong>
                                      </li>
                                  </ul>
                              </div>
                          </div>

                          <div class="col-sm-4">
                              <div class="card">
                                  <h5 class="card-header">Academic Detail</h5>
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item cmedium"><strong>Medium: </strong></li>
                                      <li class="list-group-item cgrade"><strong>Class: </strong></li>
                                      <li class="list-group-item csection"><strong>Section: </strong></li>
                                      <li class="list-group-item csr"><strong>SR No: </strong></li>
                                  </ul>
                              </div>
                          </div>

                          <input type="hidden" name="school_id" id="school_id" th:field="*{school.id}"/>
                          <input type="hidden" name="academic_id" id="academic_id" th:field="*{academicYear.id}"/>
                          <input type="hidden" id="StudentId" value="" name="StudentId">
                          <input type="hidden" id="gradeId" value="" name="gradeId">
                      </div>
                  </div>

              </div>


              <div class="card-header fs-3">Fee Receipt <span class="studname1"></span></div>

              <hr/>

              <div class="fee-detail-box row">
                  <!--Fees List-->
                  <div class="col-md-12 text-bg-light feedetailslistbox">
                      <div class="card-body">
                          <h5 class="card-subtitle mb-2 text-muted">Fee Detail(s)</h5>
                      </div>

                      <table class="table table-bordered table-hover" id="feetable">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Submit Date</th>
                                  <th>Receipt#</th>
                                  <th>Total</th>
                                  <th>Paid</th>
                                  <th>Balance</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody class="table-group-divider">

                          </tbody>
                      </table>

                  </div>
                  <!--Fee Receipt-->
                  <div class="col-md-12 text-bg-light feereceiptbox1">
                      <div class="card-body">
                          <h5 class="card-subtitle mb-2 text-muted">Receipt Print</h5>
                      </div>
                      <div>
                          <div class="row">
                              <div class="col-md-3">
                                  <button class="btn btn-success" id="printreceipt" onclick="printDiv('contentToExport','receipt')" data-div-id="contentToExport"><i class="bi bi-printer-fill"></i> Print</button>
                              </div>
                              <div class="col-md-6">&nbsp;</div>
                          </div>
                          <div class="row">&nbsp;</div>
                          <div class="row">

                              <!--Page Content Here-->
                              <div class="card">
                                  <h5 class="card-header">Fee Receipt</h5>
                                  <div id="disp-receipt"></div>
                                  <!--<div class="card-body" id="contentToExport">
                                      <input type="hidden" id="feeid" th:value="${feeSubmission.id}">
                                      <div class="text-center"><strong>[[${school.getSchoolName().toUpperCase()}]]</strong></div>
                                      <div class="text-center"><strong>[[${school.getAddress().toUpperCase()}]]</strong></div>
                                      <div class="text-center"><strong>CONTACT NO: (+91) [[${school.getMobile1()}]]<span th:if="${school.getMobile2() != null}">, [[${school.getMobile2()}]]</span></strong></div>
                                      <div class="text-center" th:if="${school.getEmail() != null}"><strong>Email: [[${school.getEmail()}]]</strong></div>
                                      <hr/>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <label class="col-md-4 col-form-label"><strong>Academic Year: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="${academicYear}"></label>
                                          </div>
                                          <div class="col-md-6">
                                              <label class="col-md-2"></label>
                                              <label class="col-md-4"><strong>Submission Date: </strong></label>
                                              <label class="col-md-5" th:text="${#dates.format(feeSubmission.feeSubmissionDate,'dd-MMM-yyyy HH:mm:ss')}"><strong>Submission Date: </strong></label>
                                          </div>
                                          <div class="col-md-8">
                                              <label class="col-md-3 col-form-label"><strong>Receipt No: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="${feeSubmission.receiptNo}"></label>
                                          </div>
                                      </div>
                                      <hr/>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <label class="col-md-4 col-form-label"><strong>Student Name: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="${student.getStudent().studentName}"></label>
                                          </div>
                                          <div class="col-md-6">
                                              <label class="col-md-3"></label>
                                              <label class="col-md-4 col-form-label"><strong>Class: </strong></label>
                                              <label class="col-md-4 col-form-label" th:text="${student.getGrade().gradeName}+'-'+${student.getSection().sectionName}"></label>
                                          </div>
                                          <div class="col-md-6">
                                              <label class="col-md-4 col-form-label"><strong>Father Name: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="${student.getStudent().fatherName}"></label>
                                          </div>
                                          <div class="col-md-6">
                                              <label class="col-md-3"></label>
                                              <label class="col-md-4 col-form-label"><strong>SR No: </strong></label>
                                              <label class="col-md-4 col-form-label" th:text="${student.getClassSrNo()}"></label>
                                          </div>
                                          <div class="col-md-6">
                                              <label class="col-md-4 col-form-label"><strong>Mother Name: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="${student.getStudent().motherName}"></label>
                                          </div>
                                          <div class="col-md-6"></div>
                                          <div class="col-md-6">
                                              <label class="col-md-4 col-form-label"><strong>Contact No: </strong></label>
                                              <label class="col-md-5 col-form-label" th:text="'(+91) '+${student.getStudent().mobile1}"></label>
                                          </div>
                                          <div class="col-md-6">
                                          </div>
                                      </div>
                                      <hr/>
                                      <div class="row fee-month-detail">
                                          <div class="col-md-6" th:each="feelist,iterStat : ${feeSubmittedMonths}">
                                              <strong><label class="col-md-3" th:text="${feelist.split('####')[0]}"></label></strong>
                                              <label class="col-md-3" th:text="${feelist.split('####')[1]}"></label>
                                              <span th:if="${feelist.contains('PAID')}">
                                    <i><u><label class="col-md-5" th:text="${feelist.split('####')[2]}"></label></u></i>
                                </span>
                                          </div>
                                      </div>
                                      <hr/>
                                      &lt;!&ndash;Fee Details&ndash;&gt;
                                      <div class="row feedetails">
                                          <div class="col-md-12">
                                              <table class="table table-bordered table-striped">
                                                  <thead>
                                                  <tr>
                                                      <th width="10%">SNo.</th>
                                                      <th>Head Name</th>
                                                      <th width="25%">Amount</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody class="table-group-divider">
                                                  <tr th:each="fsub, iter: ${feesublist}">
                                                      <td th:text="${iter.index + 1}+'.'"></td>
                                                      <td th:text="${fsub.feehead.feeHeadName}"></td>
                                                      <td class="text-end" th:text="'&#8377; '+${fsub.amount}"></td>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                      <hr/>
                                      &lt;!&ndash;Amount Details&ndash;&gt;
                                      <div class="row amountdetails">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-8"><strong>Fine Remark: </strong><span th:text="${feeSubmission.fineRemark}"></span></div>

                                          <div class="col-md-4"></div>
                                          <div class="col-md-4"><strong>Fine Amount: </strong></div>
                                          <div class="col-md-4 text-end" th:text="'&#8377; '+${feeSubmission.fineAmount}"></div>
                                      </div>
                                      <hr/>
                                      <div class="row" th:if="${feeSubmission.discounthead}">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-8"><strong>Discount Remark: </strong><span th:text="${feeSubmission.discounthead.discountName}"></span></div>

                                          <div class="col-md-4"></div>
                                          <div class="col-md-4"><strong>Discount Amount: </strong></div>
                                          <div class="col-md-4 text-end" th:text="'&#8377; '+${feeSubmission.discountAmount}"></div>
                                      </div>
                                      <hr/>
                                      <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-4"><strong>Total Amount: </strong></div>
                                          <div class="col-md-4 text-end" th:text="'&#8377; '+${feeSubmission.totalAmount}"></div>
                                          <div class="col-md-4"></div>
                                          <div class="col-md-4"><strong>Paid Amount: </strong></div>
                                          <div class="col-md-4 text-end" th:text="'&#8377; '+${feeSubmission.paidAmount}"></div>
                                          <div class="col-md-4"></div>
                                          <div class="col-md-4"><strong>Balance Amount: </strong></div>
                                          <div class="col-md-4 text-end" th:text="'&#8377; '+${feeSubmission.balanceAmount}"></div>
                                      </div>
                                      <br/><br/>
                                      <div class="row mb-3"><div class="col-md-12 text-end">(Authorized Signatory)</div></div>


                                  </div>-->
                              </div>

                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>



  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
      const successMessage = [[${success}]];
      if (successMessage) {
          showWarningMsg("success", successMessage, "Success");
      }
      const infoMessage = [[${info}]];
      if (infoMessage) {
          showWarningMsg("info", infoMessage, "Info");
      }
      // Display error message
      const errorMessage = [[${error}]];
      if (errorMessage) {
          showWarningMsg("error", errorMessage, "Error");
      }

      function showWarningMsg(msgType, msg, headerValue){
              toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "600",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              }
            toastr[msgType](msg,headerValue);
        }

    const searchStuName=() =>{
        let query=$("#search-input").val();
        console.log('searched.....'+query);
        if(query.trim().length>2){
            //Sending request to server
            let url = `${window.location.origin}/searchStudentForFeePage/${query}`;
            fetch(url).then(response=>{
                return response.json();
            }).then((data)=>{
                console.log(data);
                let text = `<div class='list-group'>`;

                data.forEach((student) =>{
                    text+=`<a onclick="loadStudentData(${student.id})" th:href="#" class='list-group-item list-group-item-action'> ${student.student.studentName} / ${student.student.fatherName} / ${student.grade.gradeName}-${student.section.sectionName}</a>`;
                });

                text+=`</div>`;
                $(".search-result").html(text);
                $(".search-result").show();
            });


        } else{
            $(".search-result").hide();
        }
    }

    const loadStudentData=(id)=>{
        $(".search-result").hide();
        $("#search-input").val('');
        if(id>0){
            console.log("id::::"+id);
            let url = `${window.location.origin}/getStudentFeeDetails/${id}`;
            fetch(url).then(response => {
                return response.json();
            }).then((data) => {
                console.log(data);
                console.log(data.student);
                if('studentError' in data){
                    showWarningMsg("warning", data.noAcademicStudent,"Message");
                    setFeeRelatedData(data, 0)
                } else{
                    if('feeSubmissionError' in data){
                        showWarningMsg("warning", data.noFeeDate,"Message");
                    } else{
                        if('feeSubmissions' in data){
                            console.log("data.feeSubmissions---- "+data.feeSubmissions);
                            console.log("data.student status---- "+data.student.status);
                            if(data.student.status==='Active'){
                                /*const msg = "Discount: "+ data.assignedDiscount.discounthead.discountName +" already assigned to this student."
                                showWarningMsg("info", msg, "Message");
                                $(".discountassigned").show();
                                setDiscountData(data.assignedDiscount);*/
                                setFeeRelatedData(data, 1);
                                setFeeDetails(data.feeSubmissions);
                            }
                        }
                        //setFeeRelatedData(data, 1);
                    }
                }
            });
        }
    }

      function setFeeDetails(data){
          for(let i=0;i<data.length;i++){
              let value = data[i];
              console.log("value-----"+value);
              let formatDateVal = formatDate(value.feeSubmissionDate);
              //+value.academicStudent.id+'_'
              $('#feetable > tbody').append('<tr><td>'+ (i+1) +'</td><td>'+ formatDateVal+'</td><td>'+ value.receiptNo +'</td><td>&#8377; '+value.totalAmount+'</td><td>&#8377; '+ value.paidAmount +'</td><td>&#8377; '+ value.balanceAmount +'</td><td><a onclick="loadStudentReceiptData('+value.id+')" href="#" class="btn btn-success"><i class="bi bi-printer-fill"></i></a></td></tr>');
          }
      }

      function formatDate(inputDate) {
          const date = new Date(inputDate);
          const day = String(date.getDate()).padStart(2, '0');
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          const month = monthNames[date.getMonth()];
          const year = date.getFullYear();
          return `${day}/${month}/${year}`;
      }
      const loadStudentReceiptData=(id)=>{
          if(id>0){
              let url = `${window.location.origin}/student-receipt-print/${id}`;
              fetch(url).then(response => {
                  return response.json();
              }).then((data) => {
                  console.log(data);
                  console.log(data.student);
                  if('studentError' in data){
                      showWarningMsg("warning", data.noAcademicStudent,"Message");
                      setFeeRelatedData(data, 0)
                  } else{
                      if('feeSubmissionError' in data){
                          showWarningMsg("warning", data.noFeeDate,"Message");
                      } else{
                          console.log("Data ",data);
                          const container = $('#disp-receipt');
                          container.empty();
                          container.append(createReceiptHTML(data));
                          console.log($('#disp-receipt').length);
                          console.log(createReceiptHTML(data));
                      }
                  }
              });
          }
      }

      function setFeeRelatedData(data, flag){
          if(flag===1){
              $(".studname").html(`<strong>Student Name: </strong> <span class="text-end">${data.student.student.studentName}</span>`);
              $(".studname1").html(` - <strong> ${data.student.student.studentName}</strong>`);
              $(".fname").html(`<strong>Father Name: </strong> ${data.student.student.fatherName}`);
              $(".mname").html(`<strong>Mother Name: </strong> ${data.student.student.motherName}`);
              $(".contactno").html(`<strong>Contact No: </strong> ${data.student.student.mobile1}`);

              $(".cmedium").html(`<strong>Medium: </strong> ${data.student.medium.mediumName}`);
              $(".cgrade").html(`<strong>Class: </strong> ${data.student.grade.gradeName}`);
              $(".csection").html(`<strong>Section: </strong> ${data.student.section.sectionName}`);
              $(".csr").html(`<strong>SR No: </strong> ${data.student.classSrNo==null?"":data.student.classSrNo}`);

              $('#StudentId').val(`${data.student.student.id}`);
              $('#gradeId').val(`${data.student.grade.id}`);
          } else{
              $(".studname").html(`<strong>Student Name:</strong>`);
              $(".studname1").html(``);
              $(".fname").html(`<strong>Father Name:</strong> `);
              $(".mname").html(`<strong>Mother Name:</strong> `);
              $(".contactno").html(`<strong>Contact No:</strong> `);

              $(".cmedium").html(`<strong>Medium: </strong> `);
              $(".cgrade").html(`<strong>Class: </strong> `);
              $(".csection").html(`<strong>Section:</strong> `);
              $(".csr").html(`<strong>SR No:</strong> `);
              $('#gradeId').val('');

          }
      }

      const createReceiptHTML = (data) =>{
          return `<div class="card-body" id="contentToExport">
                  <input type="hidden" id="feeid" th:value="${data.feeSubmission.id}">
                  <div class="text-center"><strong>${data.school.schoolName.toUpperCase()}</strong></div>
                  <div class="text-center"><strong>${data.school.address.toUpperCase()}</strong></div>
                  <div class="text-center"><strong>CONTACT NO: (+91) ${data.school.mobile1}<span th:if="${data.school.mobile2 != null}">, ${data.school.mobile2}</span></strong></div>
                  <div class="text-center" th:if="${data.school.email != null}"><strong>Email: ${data.school.email}</strong></div>
                  <hr/>
                  <div class="text-center"><strong>(DUPLICATE COPY)</strong></div>
                  <hr/>
                  <div class="row">
                      <div class="col-md-6">
                          <label class="col-md-4 col-form-label"><strong>Academic Year: </strong></label>
                          <label class="col-md-5 col-form-label">${data.academicYear}</label>
                      </div>
                      <div class="col-md-6">
                          <label class="col-md-2"></label>
                          <label class="col-md-4"><strong>Submission Date: </strong></label>
                          <label class="col-md-5"><strong>${new Date(data.feeSubmission.feeSubmissionDate).toLocaleString()} </strong></label>
                      </div>
                      <div class="col-md-8">
                          <label class="col-md-3 col-form-label"><strong>Receipt No: </strong></label>
                          <label class="col-md-5 col-form-label">${data.feeSubmission.receiptNo}</label>
                      </div>
                  </div>
                  <hr/>
                  <div class="row">
                      <div class="col-md-6">
                          <label class="col-md-4 col-form-label"><strong>Student Name: </strong></label>
                          <label class="col-md-5 col-form-label">${data.student.student.studentName}</label>
                      </div>
                      <div class="col-md-6">
                          <label class="col-md-3"></label>
                          <label class="col-md-4 col-form-label"><strong>Class: </strong></label>
                          <label class="col-md-4 col-form-label">${data.student.grade.gradeName} - ${data.student.section.sectionName}</label>
                      </div>
                      <div class="col-md-6">
                          <label class="col-md-4 col-form-label"><strong>Father Name: </strong></label>
                          <label class="col-md-5 col-form-label">${data.student.student.fatherName}</label>
                      </div>
                      <div class="col-md-6">
                          <label class="col-md-3"></label>
                          <label class="col-md-4 col-form-label"><strong>SR No: </strong></label>
                          <label class="col-md-4 col-form-label">${data.student.classSrNo}</label>
                      </div>
                      <div class="col-md-6">
                          <label class="col-md-4 col-form-label"><strong>Mother Name: </strong></label>
                          <label class="col-md-5 col-form-label">${data.student.student.motherName}</label>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                          <label class="col-md-4 col-form-label"><strong>Contact No: </strong></label>
                          <label class="col-md-5 col-form-label">(+91) ${data.student.student.mobile1}</label>
                      </div>
                      <div class="col-md-6">
                      </div>
                  </div>
                  <hr/>
                  <div class="row fee-month-detail">
                      <div class="row fee-month-detail">
                            ${createFeeMonthDetailHTML(data.feeSubmittedMonths)}
                        </div>
                  </div>
                  <hr/>
                  <div class="row feedetails">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th width="10%">SNo.</th>
                                    <th>Head Name</th>
                                    <th width="25%">Amount</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    ${createFeeHeadDetailHTML(data.feesublist)}
                                </tbody>
                            </table>
                        </div>
                   </div>
                   <hr/>
                   <div class="row amountdetails">
                        <div class="col-md-4"></div>
                        <div class="col-md-8"><strong>Fine Remark: </strong><span>${data.feeSubmission.fineRemark}</span></div>

                        <div class="col-md-4"></div>
                        <div class="col-md-4"><strong>Fine Amount: </strong></div>
                        <div class="col-md-4 text-end">&#8377; ${data.feeSubmission.fineAmount}</div>
                    </div>
                    <hr/>
                    ${data.feeSubmission.discounthead ? `
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8"><strong>Discount Remark: </strong><span>${data.feeSubmission.discounthead.discountName}</span></div>

                            <div class="col-md-4"></div>
                            <div class="col-md-4"><strong>Discount Amount: </strong></div>
                            <div class="col-md-4 text-end">&#8377; ${data.feeSubmission.discountAmount}</div>
                        </div>` : ''}
                    <hr/>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><strong>Total Amount: </strong></div>
                        <div class="col-md-4 text-end" >&#8377; ${data.feeSubmission.totalAmount}</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><strong>Paid Amount: </strong></div>
                        <div class="col-md-4 text-end">&#8377; ${data.feeSubmission.paidAmount}</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><strong>Balance Amount: </strong></div>
                        <div class="col-md-4 text-end" >&#8377; ${data.feeSubmission.balanceAmount}</div>
                    </div>
                    <br/><br/>
                  <div class="row mb-3"><div class="col-md-12 text-end">(Authorized Signatory)</div></div>

              </div>`
      }

      const createFeeMonthDetailHTML = (feeSubmittedMonths) => {
          let feeMonthHTML = '';
          feeSubmittedMonths.forEach(feeList => {
              const parts = feeList.split('####');
              const month = parts[0];
              const amount = parts[1];
              const status = parts[2];

              feeMonthHTML += `
                <div class="col-md-6">
                    <strong><label class="col-md-3">${month}</label></strong>
                    <label class="col-md-3">${amount}</label>
                    ${status.includes('PAID') ? `<span><i><u><label class="col-md-5">${status}</label></u></i></span>` : ''}
                </div>`;
          });
          return feeMonthHTML;
      };

      const createFeeHeadDetailHTML = (feeSubmittedMonths) => {
          let feeMonthHTML = '';
          let rowIndex = 1;
          feeSubmittedMonths.forEach(feeList => {
              const index = rowIndex++ + '.';
              const headName = feeList.feehead.feeHeadName;
              const amount = feeList.amount;

              feeMonthHTML += `
                <tr>
                    <td>${index}</td>
                    <td>${headName}</td>
                    <td class="text-end">&#8377; ${amount}</td>
                </tr>
                `;
          });
          return feeMonthHTML;
      };

      function printDiv(divId, title) {
          let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

          // Check if the window opened successfully
          if (!mywindow) {
              alert('Popup blocked! Please allow popups for this site.');
              return;
          }
          //<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
          mywindow.document.write('<html><head><title>' + title + '</title>');
          mywindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>');
          mywindow.document.write('</head><body >');
          mywindow.document.write(document.getElementById(divId).innerHTML);
          mywindow.document.write('</body></html>');

          mywindow.document.close(); // necessary for IE >= 10
          mywindow.focus(); // necessary for IE >= 10

          // Add a delay before calling print to ensure content is fully loaded
          setTimeout(function() {
              mywindow.print();
              mywindow.close();
          }, 1000); // Adjust the delay as needed
      }

  </script>

</section>
</body>
</html>