<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>
</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-12">
        <div class="card-header fs-3">Fee Cancellation</div>
        <hr/>
        <!--Search box-->
        <div class="search-container my-3">
          <input class="form-control" id="search-input" onkeyup="searchreceiptNo()" placeholder="Search receipt no" type="text">
          <div class="search-result">

          </div>
        </div>

        <hr/>
        <div class="student-detail mb-3">
          <div class="academic-student-block">
            <div class="row">
              <div class="col-sm-4">
                <div class="card border-warning" >
                  <h5 class="card-header">Student Detail</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item studname"><strong>Student Name:</strong></li>
                    <li class="list-group-item fname"><strong>Father Name:</strong></li>
                    <li class="list-group-item mname"><strong>Mother Name:</strong></li>
                    <li class="list-group-item contactno contact-update-btn"><strong>Contact No:</strong>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card border-warning">
                  <h5 class="card-header">Academic Detail</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item cmedium"><strong>Medium: </strong></li>
                    <li class="list-group-item cgrade"><strong>Class: </strong></li>
                    <li class="list-group-item csection"><strong>Section: </strong></li>
                    <li class="list-group-item csr"><strong>SR No: </strong></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card border-warning">
                  <h5 class="card-header">Fee Detail</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item tamt"><strong>Total Amount: </strong></li>
                    <li class="list-group-item pamt"><strong>Paid Amount: </strong></li>
                    <li class="list-group-item famt"><strong>Fine Amount: </strong></li>
                    <li class="list-group-item damt"><strong>Discount Amount: </strong></li>
                  </ul>
                </div>
              </div>

              <input type="hidden" name="school_id" id="school_id" th:field="*{school.id}"/>
              <input type="hidden" name="academic_id" id="academic_id" th:field="*{academicYear.id}"/>
              <input type="hidden" name="feesubmission_id" id="feesubmission_id" value=""/>
              <input type="hidden" id="StudentId" value="" name="StudentId">
              <input type="hidden" id="gradeId" value="" name="gradeId">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-5">
            <!--<a class="btn btn-info" href="/student/student"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>-->
          </div>
          <div class="col-md-6 mb-5">
            <button onclick="checkMonths()" class="btn btn-danger" id="feeSubmitBtn"><i class="bi bi-journal-x"></i> Cancel Fee</button>
          </div>
        </div>

      </div>
    </div>
  </div>



  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    const successMessage = [[${success}]];
    if (successMessage) {
      showWarningMsg("success", successMessage, "Success");
    }
    const infoMessage = [[${info}]];
    if (infoMessage) {
      showWarningMsg("info", infoMessage, "Info");
    }
    // Display error message
    const errorMessage = [[${error}]];
    if (errorMessage) {
      showWarningMsg("error", errorMessage, "Error");
    }

    function showWarningMsg(msgType, msg, headerValue){
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "600",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      toastr[msgType](msg,headerValue);
    }

    const searchreceiptNo=() =>{
      let query=$("#search-input").val();
      console.log('searched.....>>>>>'+query);
      if(query.trim().length>8){
        //Sending request to server
        let encodeQry = encodeURIComponent(query.trim().replace(/\//g, '-'));
        console.log('searched encodeQry.....'+encodeQry);
        let url = `${window.location.origin}/searchReceiptForFeePage/${encodeQry}`;
        fetch(url).then(response=>{
          return response.json();
        }).then((data)=>{
          console.log(data);
          setFeeRelatedData(data, 1);
        });


      } else{
        $(".search-result").hide();
      }
    }

    const loadStudentData=(id)=>{
      $(".search-result").hide();
      $("#search-input").val('');
      if(id>0){
        console.log("id::::"+id);
        let url = `${window.location.origin}/getStudentFeeDetails/${id}`;
        fetch(url).then(response => {
          return response.json();
        }).then((data) => {
          console.log(data);
          console.log(data.student);
          if('studentError' in data){
            showWarningMsg("warning", data.noAcademicStudent,"Message");
            setFeeRelatedData(data, 0)
          } else{
            if('feeSubmissionError' in data){
              showWarningMsg("warning", data.noFeeDate,"Message");
            } else{
              if('feeSubmissions' in data){
                console.log("data.feeSubmissions---- "+data.feeSubmissions);
                console.log("data.student status---- "+data.student.status);
                if(data.student.status==='Active'){
                  setFeeRelatedData(data, 1);
                  setFeeDetails(data.feeSubmissions);
                }
              }
              //setFeeRelatedData(data, 1);
            }
          }
        });
      }
    }

    function setFeeDetails(data){
      for(let i=0;i<data.length;i++){
        let value = data[i];
        console.log("value-----"+value);
        let formatDateVal = formatDate(value.feeSubmissionDate);
        //+value.academicStudent.id+'_'
        $('#feetable > tbody').append('<tr><td>'+ (i+1) +'</td><td>'+ formatDateVal+'</td><td>'+ value.receiptNo +'</td><td>'+value.totalAmount+'</td><td>'+ value.paidAmount +'</td><td>'+ value.balanceAmount +'</td><td><a onclick="loadStudentReceiptData('+value.id+')" href="#" class="btn btn-success"><i class="bi bi-printer-fill"></i></a></td></tr>');
      }
    }

    function formatDate(inputDate) {
      const date = new Date(inputDate);
      const day = String(date.getDate()).padStart(2, '0');
      const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      const month = monthNames[date.getMonth()];
      const year = date.getFullYear();
      return `${day}/${month}/${year}`;
    }
    const loadStudentReceiptData=(id)=>{
      if(id>0){
        let url = `${window.location.origin}/student-receipt-print/${id}`;
        fetch(url).then(response => {
          return response.json();
        }).then((data) => {
          console.log(data);
          console.log(data.student);
          if('studentError' in data){
            showWarningMsg("warning", data.noAcademicStudent,"Message");
            setFeeRelatedData(data, 0)
          } else{
            if('feeSubmissionError' in data){
              showWarningMsg("warning", data.noFeeDate,"Message");
            } else{
              console.log("Data ",data);
            }
          }
        });
      }
    }

    function setFeeRelatedData(data, flag){
      if(flag===1){
        console.log("DATA----"+data);
        console.log("-------"+data.academicStudent);
        console.log("-------"+data.feeSubmission.id);
        $(".studname").html(`<strong>Student Name: </strong> <span class="text-end">${data.feeSubmission.academicStudent.student.studentName}</span>`);
        //$(".studname1").html(` - <strong> ${data.feeSubmission.academicStudent.student.studentName}</strong>`);
        $(".fname").html(`<strong>Father Name: </strong> ${data.feeSubmission.academicStudent.student.fatherName}`);
        $(".mname").html(`<strong>Mother Name: </strong> ${data.feeSubmission.academicStudent.student.motherName}`);
        $(".contactno").html(`<strong>Contact No: </strong> ${data.feeSubmission.academicStudent.student.mobile1}`);

        $(".cmedium").html(`<strong>Medium: </strong> ${data.feeSubmission.academicStudent.medium.mediumName}`);
        $(".cgrade").html(`<strong>Class: </strong> ${data.feeSubmission.academicStudent.grade.gradeName}`);
        $(".csection").html(`<strong>Section: </strong> ${data.feeSubmission.academicStudent.section.sectionName}`);
        $(".csr").html(`<strong>SR No: </strong> ${data.feeSubmission.academicStudent.classSrNo==null?"":data.feeSubmission.academicStudent.classSrNo}`);

        $(".tamt").html(`<strong>Total Amount: </strong> &#8377; ${data.feeSubmission.totalAmount}`);
        $(".pamt").html(`<strong>Paid Amount: </strong> &#8377; ${data.feeSubmission.paidAmount}`);
        $(".famt").html(`<strong>Fine Amount: </strong> &#8377; ${data.feeSubmission.fineAmount}`);
        $(".damt").html(`<strong>Discount Amount: </strong> &#8377; ${data.feeSubmission.discountAmount}`);

        $('#StudentId').val(`${data.feeSubmission.academicStudent.student.id}`);
        $('#gradeId').val(`${data.feeSubmission.academicStudent.grade.id}`);
        $('#feesubmission_id').val(`${data.feeSubmission.id}`);
      } else{
        $(".studname").html(`<strong>Student Name:</strong>`);
        //$(".studname1").html(``);
        $(".fname").html(`<strong>Father Name:</strong> `);
        $(".mname").html(`<strong>Mother Name:</strong> `);
        $(".contactno").html(`<strong>Contact No:</strong> `);

        $(".cmedium").html(`<strong>Medium: </strong> `);
        $(".cgrade").html(`<strong>Class: </strong> `);
        $(".csection").html(`<strong>Section:</strong> `);
        $(".csr").html(`<strong>SR No:</strong> `);

        $(".tamt").html(`<strong>Total Amount: </strong> `);
        $(".pamt").html(`<strong>Paid Amount: </strong> `);
        $(".famt").html(`<strong>Fine Amount: </strong> `);
        $(".damt").html(`<strong>Discount Amount: </strong> `);

        $('#gradeId').val('');
        $('#feesubmission_id').val('');
      }
    }

  </script>

</section>
</body>
</html>