<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>UAIC - Student</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row mt-2 ">
            <div class="col-md-12">
                <div class="card-header fs-3">Fee Reminder</div>
                <hr/>
                <div>
                    <div class="row">
                        <div class="col-md-2" th:each="mon : ${monthmapping}">
                            <input type="checkbox" class="form-check form-check-input monthcheckbox form-check-inline" th:id="${mon.monthMaster.id}" th:value="${mon.monthMaster.id}" th:name="months" th:text="${mon.monthMaster.monthName}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="medium" class="form-label">Medium</label>
                            <select name="medium" id="medium" class="form-select">
                                <option value="">Select Medium</option>
                                <option th:each="med : ${mediums}" th:value="${med.id}" th:text="${med.mediumName}">Medium</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="grade" class="form-label">Grade</label>
                            <select name="grade" id="grade" class="form-select">
                                <option value="">Select Grade</option>
                                <option th:each="grade : ${grades}" th:value="${grade.id}" th:text="${grade.gradeName}">Grade</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="section" class="form-label">Section</label>
                            <select name="section" id="section" class="form-select">
                                <option value="">Select Section</option>
                                <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionName}">Section</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="section" class="form-label">Last Date</label>
                            <input type="text" class="form-control" name="lastdate" id="lastdate"/>
                        </div>
                        <div class="col-md-3 align-self-end">
                            <div class="col-sm-5">
                                <button name="getfee" id="getfee" class="btn btn-primary"><i class="bi bi-search"></i> Get List </button>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div>
                    <div class="row show-data mb-5" style="display: none;">
                        <div class="col-md-3">
                            <button class="btn btn-success" id="printreceipt" onclick="printDiv('contentToExport','receipt')" data-div-id="contentToExport"><i class="bi bi-printer-fill"></i> Print</button>
                        </div>
                    </div>

                    <div class="row fetch-class-value mb-5" id="contentToExport">

                    </div>
                </div>



            </div>
        </div>
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
    <script src="/js/flatpickr.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>-->

    <script type="text/javascript" th:inline="javascript">
        flatpickr("#lastdate", {
            dateFormat: "d/M/Y",  // Equivalent to dd/MMM/yyyy
        });

        function showWarningMsg(msgType, msg, headerValue){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "600",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr[msgType](msg,headerValue);
        }

        $('#getfee').click(async function() {
            $('.fetch-class-value').html('');
            $('.show-data').hide();
            const medium = $('#medium').val();
            const grade = $('#grade').val();
            const section = $('#section').val();
            const lastdate = $('#lastdate').val();

            if(medium === '' || grade === '' || section === '' || lastdate === ''){
                showWarningMsg('error','Medium/Grade/Section/Last Date all are mandatory',"Warning");
                return;
            }
            let counter = 0;
            let checkBoxes = "";
            let month_checkboxes = $('.monthcheckbox');
            month_checkboxes.each(function() {
                if($(this).is(':enabled') && $(this).is(':checked')){
                    counter++;
                    if(checkBoxes===""){
                        checkBoxes = $(this).attr("id");
                    } else{
                        checkBoxes = checkBoxes + "-" + $(this).attr("id");
                    }
                }
            });

            if (counter === 0) {
                showWarningMsg('error','Month(s) not selected',"Warning");
                return;
            }

            let url = `${window.location.origin}/getFeeReminderDetails`;
            try{
                const requestBody = {
                    checkBoxes: checkBoxes,
                    grade: grade,
                    medium: medium,
                    section: section,
                    lastdate: lastdate
                };
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                });
                console.log("response "+response);
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                console.log("-----------------------------")
                const data = await response.json();
                console.log("res: "+data.finalData);
                console.log("res: "+data.STUDENT_NOT_FOUND);
                if(data.STUDENT_NOT_FOUND!=null){
                    $('.fetch-class-value').html('<p class="text-center">No data found.</p>');
                } else{
                    if(data.finalData!=null){
                        let stulist = data.finalData;
                        console.log(stulist);
                        console.log(stulist.length);
                        let divStr = '';
                        const today = new Date();

                        const day = String(today.getDate()).padStart(2, '0'); // Pad single digits with leading zero
                        //const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so add 1
                        const month = today.toLocaleString('en-IN', { month: 'short' });
                        const year = today.getFullYear();

                        const formattedDate = `${day}/${month}/${year}`;
                        for (let key in stulist) {
                            let dtStr = '';
                            if (stulist.hasOwnProperty(key)) {
                                let studentData = stulist[key];
                                console.log("Key (Student ID): " + key);
                                console.log("Amount: " + studentData.amount);
                                console.log("Head List: " + studentData.headList);
                                console.log("Months List: " + studentData.monthsList);
                                console.log("Fine Amount: " + studentData.fineAmount);
                                dtStr+='<div class="col-md-12"><div class="text-center"><h4>United Avadh Inter College</h4><h4>Mahmudabad, Sitapur</h4></div><div class="text-center"><h5><hr/><strong>मासिक शुल्क सूचना</strong></h5></div>';
                                dtStr+='<table class="mb-5"><tr><td><b>छात्र का नाम: </b></td><td>'+ studentData.academicStudent.student.studentName +'</td><td><b>पिता का नाम: </b></td><td>'+ studentData.academicStudent.student.fatherName +'</td><td><b>माता का नाम: </b></td><td>'+studentData.academicStudent.student.motherName+'</td>';
                                dtStr+='<td><b>कक्षा: </b></td><td>'+studentData.academicStudent.grade.gradeName+'</td><td><b>वर्ग: </b></td><td>'+studentData.academicStudent.section.sectionName+'</td></tr>';
                                dtStr+='<tr><td colspan="12"><p>अभिभावक महोदय, आपके पाल्य/पाल्या का निम्नलिखित शुल्क जमा होना शेष है| अतः दिनांकः '+lastdate+' तक विद्यालय समय में निर्धारित शुल्क जमा कराने का कष्ट करें| उपरोक्त तिथि के बाद जमा होने वाला शुल्क बिना विलम्ब शुल्क के जमा नहीं किया जायेगा|</p>';
                                dtStr+='<br/><b>इस माह तक जमा होने वाले शुल्क की कुल धनराशि: </b>'+studentData.amount;
                                dtStr+='<br/><b>सम्मिलित माह: </b>'+studentData.monthsList;
                                dtStr+='<br/><b>सम्मिलित मद: </b>'+studentData.headList;
                                dtStr+='</p></td></tr><tr><td colspan="6"><p><b>दिनांक: </b>'+ formattedDate +'</p></td><td colspan="6"><p class="text-end"><b>प्रधानाचार्य</b></p></td></tr>';
                                dtStr+='</table></div>';
                            }
                            //console.log("dtstr: "+dtStr);
                            divStr+=dtStr;
                        }
                        /*console.log("div----"+divStr);
                        console.log("div----"+divStr.length);*/
                        if(divStr.length>0){
                            $('.fetch-class-value').html(divStr);
                            $('.show-data').show();
                        } else{
                            $('.fetch-class-value').html('<p class="text-center">No data found.</p>');
                        }

                    }
                }


            } catch(error) {
                /*console.error('There was a problem with the fetch operation:', error);
                toastr["error"]("There was a problem with the fetch operation: " + error, "Error");*/
                showWarningMsg('error', "There was a problem with the fetch operation: " + error, "Error");
            }
        });

        function printDiv(divId, title) {
            let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

            // Check if the window opened successfully
            if (!mywindow) {
                alert('Popup blocked! Please allow popups for this site.');
                return;
            }
            //<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            mywindow.document.write('<html><head><title>' + title + '</title>');
            mywindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(document.getElementById(divId).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10

            // Add a delay before calling print to ensure content is fully loaded
            setTimeout(function() {
                mywindow.print();
                mywindow.close();
            }, 1000); // Adjust the delay as needed
        }

        window.onload = function() {
            // Assign functions to buttons 'contentToExport','receipt'
            document.querySelector('button[onclick="printDiv(\'contentToExport\',\'receipt\')"]').addEventListener('click', () => printDiv('contentToExport', 'receipt'));
        }

    </script>


</section>
</body>
</html>