<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>UAIC - Student</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row mt-2 ">
            <div class="col-md-12  offset-md-1 ">
                <div class="card-header fs-3">Fee Submission</div>
                <hr/>
                <!--Search box-->
                <div class="search-container my-3">
                    <input onkeyup="searchStuName()" type="text" class="form-control" id="search-input" placeholder="Search student name">
                    <div class="search-result">

                    </div>
                </div>
                <form name="feesubmission" th:action="@{/fees/feesubmit}" th:object="${feesubmissionobj}" method="post">
                    <!--Student Details-->
                    <hr/>
                    <div class="student-detail mb-3">
                        <div class="academic-student-block">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card text-bg-light">
                                        <h5 class="card-header">Student Detail</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-bg-light studname"><strong>Student Name:</strong></li>
                                            <li class="list-group-item text-bg-light fname"><strong>Father Name:</strong></li>
                                            <li class="list-group-item text-bg-light mname"><strong>Mother Name:</strong></li>
                                            <li class="list-group-item text-bg-light contactno contact-update-btn"><strong>Contact No:</strong> </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="card text-bg-light">
                                        <h5 class="card-header">Academic Detail</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-bg-light cmedium"><strong>Medium: </strong></li>
                                            <li class="list-group-item text-bg-light cgrade"><strong>Class: </strong></li>
                                            <li class="list-group-item text-bg-light csection"><strong>Section: </strong></li>
                                            <li class="list-group-item text-bg-light csr"><strong>SR No: </strong></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="mb-2 row">
                                        <label for="feedate" class="col-sm-6 col-form-label"><b>Fee Date:</b></label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control" id="feedate" name="feedate" value="">
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label for="feesubmissiondate" class="col-sm-6 col-form-label"><b>Submission Date:</b></label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control" id="feesubmissiondate" name="feesubmissiondate" value="">
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label for="previousBalance" class="col-sm-6 col-form-label"><b>Previous Balance:</b></label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control " id="previousBalance" name="previousBalance" value="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" id="academicStudentId" value="" name="academicStudentId" th:field="*{academicStudent.id}">
                        <input type="hidden" name="school_id" id="school_id" th:field="*{school.id}"/>
                        <input type="hidden" name="academic_id" id="academic_id" th:field="*{academicYear.id}"/>
                        <input type="hidden" id="StudentId" value="" name="StudentId">
                        <input type="hidden" id="gradeId" value="" name="gradeId">
                    </div>

                    <!--Other Fee Detail-->
                    <hr/>
                    <div class="feeblock">
                        <div class="row">
                            <!--Months List-->
                            <div class="col-sm-2 monthlist">
                                <table class="table table-bordered table-hover table-sm" th:if="${hasMonthMapping}">
                                    <tr th:each="mon,iterStat : ${monthmapping}">
                                        <td><input type="checkbox" class="form-check form-check-input monthcheckbox" th:id="${mon.monthMaster.monthName}" th:name="months" th:value="${mon.monthMaster.monthName}" /></td>
                                         <td th:text="${mon.monthMaster.monthName}"></td>
                                    </tr>
                                </table>
                                <div th:if="${!hasMonthMapping}">
                                    <p class="text-center">No Month-Mapping found.</p>
                                    <p class="text-center">Contact to your admin.</p>
                                </div>
                                <div class="row mb-3">
                                    <label id="discountMsg" name="discountMsg" class="text-success"></label>
                                    <label id="discountCount" name="discountCount" class="text-success"></label>
                                </div>
                            </div>

                            <!--Fee Detail-->
                            <div class="col-sm-6">
                                <table id="feeTable" class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr class="table-secondary">
                                            <th>#</th>
                                            <th>Fee-head Name</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <div>
                                    <span id="msgLabel"></span>
                                    <span id="msgAmount"></span>
                                    <input type="hidden" name="fullPaymentAmount" value=""/>
                                </div>
                            </div>

                            <!--Amount Detail-->
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="mb-3 row">
                                        <label for="fineAmount" class="col-sm-5 col-form-label">Fine Amount*</label>
                                        <div class="col-sm-4">
                                            <input type="number" readonly="readonly" class="form-control" id="fineAmount" name="fineAmount" value="">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="fineRemark" class="col-sm-5 col-form-label">Fine Remark</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly="readonly" name="fineRemark" class="form-control" id="fineRemark" value="">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="discountAmount" class="col-sm-5 col-form-label">Discount Amount*</label>
                                        <div class="col-sm-4">
                                            <input type="number" readonly="readonly" class="form-control" id="discountAmount" name="discountAmount" value="">
                                            <input type="hidden" class="form-control" id="discountHead" name="discountHead" value="">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="totalAmount" class="col-sm-5 col-form-label">Total Amount*</label>
                                        <div class="col-sm-4">
                                            <input type="number" readonly="readonly" class="form-control" id="totalAmount" name="totalAmount" value="">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="paidAmount" class="col-sm-5 col-form-label">Paid Amount*</label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="paidAmount" name="paidAmount" value="" autocomplete="off" />
                                            <span id="errmsg"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="balanceAmount" class="col-sm-5 col-form-label">Balance Amount*</label>
                                        <div class="col-sm-4">
                                            <input type="number" readonly="readonly" class="form-control" id="balanceAmount" name="balanceAmount" value="">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="feeRemark" class="col-sm-5 col-form-label">Remark</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="feeRemark" name="feeRemark" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-md-5">
                            <!--<a class="btn btn-info" href="/student/student"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>-->
                        </div>
                        <div class="col-md-6 mb-5">
                            <button onclick="checkMonths()" class="btn btn-primary" id="feeSubmitBtn"><i class="bi bi-save2-fill"></i> Submit Fee</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="updatedContactNumber" placeholder="Enter mobile no." required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Close</button>
                    <button type="button" class="btn btn-primary" id="updateContactBtn"><i class="bi bi-pencil-square"></i> Update</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        // Display success message
        const successMessage = [[${success}]];
        if (successMessage) {
            //toastr.success(successMessage);
            toastr["success"](successMessage,"Success");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        const infoMessage = [[${info}]];
        if (infoMessage) {
            //toastr.success(successMessage);
            toastr["info"](infoMessage,"Info");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        // Display error message
        const errorMessage = [[${error}]];
        if (errorMessage) {
            //toastr.error(errorMessage);
            toastr["error"](errorMessage, "Error");
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
        // Event listener for dynamically added button
        $(document).on('click', '.dynamic-btn', function() {
            $('#myModal').modal('show');
        });

        $("#paidAmount").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $('#paidAmount').keyup(function() {
            var ta = $('#totalAmount').val();
            //var ba = 0;

            $('#balanceAmount').val((ta-$(this).val()));

        });

        const searchStuName=() =>{
            let query=$("#search-input").val();
            console.log('searched.....'+query);
            if(query.trim().length>2){

                //Sending request to server
                let url = `${window.location.origin}/searchStudentForFeePage/${query}`;
                fetch(url).then(response=>{
                    return response.json();
                }).then((data)=>{
                    console.log(data);
                    let text = `<div class='list-group'>`;

                    data.forEach((student) =>{
                        text+=`<a onclick="loadStudentData(${student.id})" th:href="#" class='list-group-item list-group-item-action'> ${student.student.studentName} / ${student.student.fatherName} / ${student.grade.gradeName}-${student.section.sectionName}</a>`;
                    });

                    text+=`</div>`;
                    $(".search-result").html(text);
                    $(".search-result").show();
                });


            } else{
                $(".search-result").hide();
            }
        }

        const loadStudentData=(id)=>{
            $(".search-result").hide();
            $("#search-input").val('');
            resetMonthsSelection();
            if(id>0){
                resetMonthCheckBoxes();
                resetFeeFields(0);
                console.log("id::::"+id);
                let url = `${window.location.origin}/getStudentDetailForFee/${id}`;
                fetch(url).then(response => {
                    return response.json();
                }).then((data) => {
                    console.log(data);
                    console.log(data.student);
                    if('noAcademicStudent' in data){
                        toastr["warning"](data.noAcademicStudent,"Message");
                        setFeeRelatedData(data, 0)
                    } else{
                        if('noFeeDate' in data){
                            toastr["warning"](data.noFeeDate,"Message");
                        } else{
                            setFeeRelatedData(data, 1);
                        }
                        if('Paid_Month_Error' in data){
                            //toastr["info"](data.Paid_Month_Error,"Message");
                        } else{
                            if(data.PaidMonths!=null){
                                let j = 0;
                                let month_checkboxes = $('.monthcheckbox');
                                month_checkboxes.each(function() {
                                    // Check if the value matches any value in the array
                                    if (data.PaidMonths.includes($(this).attr('id'))) {
                                        // Make the checkbox checked and disabled
                                        $(this).prop('checked', true);
                                        $(this).prop('disabled', true);
                                    }
                                });
                            }
                        }
                    }
                });
            }
        }

        const resetMonthsSelection = ()=>{
            let month_checkboxes = $('.monthcheckbox');
            month_checkboxes.each(function() {
                $(this).prop('checked', false);
                $(this).prop('disabled', false);
            });
        }

        function formatDate(dateString, dlen) {
            // Parse the date string
            const date = new Date(dateString);

            // Helper function to get month abbreviation
            const getMonthAbbreviation = (monthIndex) => {
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                return months[monthIndex];
            };

            // Extract day, month, and year from the date
            const day = date.getDate();
            const month = getMonthAbbreviation(date.getMonth());
            const year = date.getFullYear();
            const hrs = date.getHours();
            const mins = date.getMinutes();
            const seconds = date.getSeconds();

            // Format the date in dd-MMM-yyyy
            if(dlen === 'short'){
                return `${String(day).padStart(2, '0')}/${month}/${year}`;
            }
            return `${String(day).padStart(2, '0')}/${month}/${year} ${hrs}:${mins}:${seconds}`;
        }

        function setFeeRelatedData(data, flag){
            if(flag===1){
                $(".studname").html(`<strong>Student Name: </strong> ${data.student.student.studentName} <span class="badge rounded-pill ${data.countStu=='OLD'?'bg-primary':'bg-success'}"> <b>${data.countStu}</b> </span>`);
                $(".fname").html(`<strong>Father Name: </strong> ${data.student.student.fatherName}`);
                $(".mname").html(`<strong>Mother Name: </strong> ${data.student.student.motherName}`);
                $(".contactno").html(`<strong>Contact No: </strong> ${data.student.student.mobile1}<button type="button" class="btn btn-success dynamic-btn"> <i class="bi bi-telephone-plus"></i> </button>`);

                $(".cmedium").html(`<strong>Medium: </strong> ${data.student.medium.mediumName}`);
                $(".cgrade").html(`<strong>Class: </strong> ${data.student.grade.gradeName}`);
                $(".csection").html(`<strong>Section: </strong> ${data.student.section.sectionName}`);
                $(".csr").html(`<strong>SR No: </strong> ${data.student.classSrNo==null?"":data.student.classSrNo}`);

                $('#academicStudentId').val(`${data.student.id}`);
                $('#StudentId').val(`${data.student.student.id}`);
                $('#gradeId').val(`${data.student.grade.id}`);
                let feeSubmissiondate = formatDate(data.feeDate.feeSubmissiondate, 'short');
                $("#feedate").val(feeSubmissiondate);
                let todayDate = formatDate(data.todayDate, 'full');
                $("#feesubmissiondate").val(todayDate);
                $("#previousBalance").val(`${data.previousBalance}`);
                if(data.previousBalance>0){
                    $("#previousBalance").addClass("text-bg-warning");
                } else{
                    $("#previousBalance").addClass("");
                }
            } else{
                $(".studname").html(`<strong>Student Name:</strong>`);
                $(".fname").html(`<strong>Father Name:</strong> `);
                $(".mname").html(`<strong>Mother Name:</strong> `);
                $(".contactno").html(`<strong>Contact No:</strong> `);

                $(".cmedium").html(`<strong>Medium: </strong> `);
                $(".cgrade").html(`<strong>Class: </strong> `);
                $(".csection").html(`<strong>Section:</strong> `);
                $(".csr").html(`<strong>SR No:</strong> `);
                $("#feedate").val('');
                $("#feesubmissiondate").val('');
                $('#academicStudentId').val('');
                $('#gradeId').val('');
                $("#previousBalance").val('');
                $("#previousBalance").addClass("");
            }
        }

        $('.monthcheckbox').on('click', async function (e){
            console.log("Value clicked "+$(this));
            const academicStudentId = $('#academicStudentId').val();
            if(academicStudentId === null || academicStudentId === ''){
                toastr["error"]("No Student found.\nPlease select a student for fee submission.","Message");
                resetMonthCheckBoxes();
                return;
            }
            let checkBoxes = "";
            let monthArr = "";
            let month_checkboxes = $('.monthcheckbox');
            month_checkboxes.each(function() {
                if($(this).is(':enabled') && $(this).is(':checked')){
                    if(checkBoxes===""){
                        checkBoxes = $(this).attr("id");
                    } else{
                        checkBoxes = checkBoxes + "-" + $(this).attr("id");
                    }
                }
                if($(this).is(':enabled')){
                    monthArr = monthArr + $(this).attr("id") + "-";
                }
            });
            //check all checkboxes selected in a sequence or not?
            const sequenceResult = checkMonthSequence(checkBoxes.split("-"));
            if(sequenceResult === false){
                toastr["warning"]("Selection Not Allowed.\nPlease select month in sequence","Message");
                resetMonthCheckBoxes();
                resetFeeFields(0);
                return;
            }
            let total = 0;
            $('#feeTable').find("tr:gt(0)").remove();
            resetFeeFields(1);
            const gradeId = $('#gradeId').val();
            let prevBalAmount = 0;
            let tot = 0;
            prevBalAmount = parseInt($('#previousBalance').val());
            console.log("academicStudentId ------ "+academicStudentId);
            const requestBody = {
                checkBoxes: checkBoxes,
                gradeId: gradeId,
                academicStudentId: academicStudentId
            };
            //let url = `${window.location.origin}/getFeeDetailsBasedOnMonth/${checkBoxes}/${gradeId}/${academicStudentId}`;
            await calculateFee(requestBody);

            await calculateDiscount(requestBody);
            await calculateFine(requestBody);

        });

        async function calculateFee(requestBody){
            let url = `${window.location.origin}/getFeeDetailsBasedOnMonth`;
            let total = 0;
            let prevBalAmount = 0;
            let tot = 0;
            prevBalAmount = parseInt($('#previousBalance').val());
            try{
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }

                const data = await response.json();
                console.log(data);
                let headList = data.feelist;
                let olist = data.paymentlist;
                //alert(olist);
                if(headList!=null) {
                    let options = '';
                    tot = tot + prevBalAmount;
                    for (let i = 0; i < headList.length; i++) {
                        let value = headList[i];
                        $('#feeTable > tbody').append('<tr><td>'+ (i+1) +'</td><td>'+ value.feehead+'</td><td>'+ value.quantity +'</td><td>'+value.amount+'<input type="hidden" name="headName" value="'+value.feehead+'###'+value.amount+'###'+ value.feeid +'" /></td></tr>');
                        tot = tot + value.amount;
                    }
                    if(olist.amount>0){
                        $("#msgLabel").html("<strong>Full Payment: </strong>").show();
                        $("#msgAmount").html(olist.amount).show();
                        tot = tot - olist.amount;
                        //alert(olist.amount);
                        $('#fullPaymentAmount').val(olist.amount);
                    }
                    else{
                        $('#fullPaymentAmount').val(0.0);
                    }
                    console.log("TOT:  "+$('#discountAmount').val());
                    $('#totalAmount').val(tot);
                    $('#balanceAmount').val("0");
                    $('#paidAmount').val(tot);
                }
            }catch (error) {
                console.error('There was a problem with the fetch operation:', error);
                toastr["error"]("There was a problem with the fetch operation: " + error, "Error");
            }
        }

        async function calculateDiscount(requestBody){
            let url = `${window.location.origin}/getDiscountDetailsBasedOnMonth`;
            let tot = $('#totalAmount').val();
            console.log("TOTAL AMT: "+tot +"   ::: ");
            try {
                // Await the fetch request
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                });

                // Check if the response is not ok
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }

                // Await the response JSON parsing
                const data = await response.json();
                console.log("discount Data:", data);

                // Process the data as needed
                let headList = data.discountlist;
                console.log("<><><><> >>."+tot)
                if(headList!=null) {
                    let options = '';
                    for (let i = 0; i < headList.length; i++) {
                        const value = headList[i];
                        console.log("value<><><> "+value);
                        $('#discountAmount').val(value.amount);
                        $('#discountHead').val(value.discountHeadName);
                        $('#discountMsg').text(value.discountHeadName);
                        $('#discountCount').text("("+value.quantity+" x "+value.amt+" : "+value.amount+")")
                        tot = tot - value.amount;
                        $('#totalAmount').val(tot);
                        $('#balanceAmount').val("0");
                        $('#paidAmount').val(tot);
                    }
                }

            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
                toastr["error"]("There was a problem with the fetch operation: " + error, "Error");
            }
        }

        async function calculateFine(requestBody){
            //getFineDetailsBasedOnMonth
            let subDate = $('#feesubmissiondate').val();
            let feeDate = $('#feedate').val();
            const newRequestBody = {
                ...requestBody,
                'submissionDate' : subDate,
                'feeDate' : feeDate,
            };
            console.log("requestbody---------------------"+newRequestBody);
            let url = `${window.location.origin}/getFineDetailsBasedOnMonth`;
            let tot = $('#totalAmount').val();
            console.log("TOTAL AMT: "+tot +"   ::: ");
            try {
                // Await the fetch request
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newRequestBody)
                });

                // Check if the response is not ok
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }

                // Await the response JSON parsing
                const data = await response.json();
                console.log("fine Data:", data);

                // Process the data as needed
                let headList = data.fineamount;
                if(headList!=null) {
                    if($.isNumeric(headList) && headList!=0)
                    {
                        $('#fineAmount').val(headList);
                        $('#fineRemark').val("FINE APPLICABLE");
                    }
                    else{
                        $('#fineAmount').val(headList);
                        $('#fineRemark').val("FINE NOT APPLICABLE");
                    }
                    tot = parseInt(tot) + parseInt(headList);
                    $('#totalAmount').val(tot);
                    $('#balanceAmount').val("0");
                    $('#paidAmount').val(tot);
                }
            } catch (error) {
                console.error('There was a problem with the fine operation:', error);
                toastr["error"]("There was a problem with the fine operation: " + error, "Error");
            }
        }

        function checkMonthSequence(monthArr){
            let monthsInOrder = [];
            let month_checkboxes = $('.monthcheckbox');
            month_checkboxes.each(function() {
                if($(this).is(':enabled')){
                    monthsInOrder.push($(this).attr("id"));
                }
            });
            // Get the indices of the months in the input list
            if(monthsInOrder.indexOf(monthArr[0])!=0){
                return false;
            }
            const indices = monthArr.map(month => monthsInOrder.indexOf(month));
            indices.sort((a, b) => a - b);
            // Check for missing months
            for (let i = 0; i < indices.length - 1; i++) {
                if (indices[i + 1] - indices[i] !== 1) {
                    return false;
                }
            }
            return true;
        }

        function resetFeeFields(flag){
            if(flag === 0){
                $('#feeTable tr').slice(1).remove();
            }
            $('#discountAmount').val('');
            $('#discountHead').val('');
            $('#discountMsg').val('');
            $('#discountCount').val('');
            $('#fineAmount').val('');
            $('#fineRemark').val('');
            $('#totalAmount').val('');
            $('#balanceAmount').val('');
            $('#paidAmount').val('');
            $('#remark').val('');
            $('#discountHead').val('');
            $('#discountMsg').text('');
            $('#discountCount').text('')
        }

        function resetMonthCheckBoxes(){
            let month_checkboxes = $('.monthcheckbox');
            month_checkboxes.each(function() {
                if($(this).is(':enabled') && $(this).is(':checked')){
                    //$(this).is('checked', false);
                    $(this).prop('checked', false);
                }
            });
        }

        $('#updateContactBtn').click(function() {
            const contactNumber = $('#updatedContactNumber').val();
            const studentId = $('#StudentId').val();

            if (contactNumber === '') {
                toastr["error"]("Contact number cannot be empty","Missing");
                return;
            }

            // Validate contact number
            const isNumeric = /^\d{10}$/.test(contactNumber);
            if (!isNumeric) {
                toastr["error"]("Contact number must be exactly 10 digits and contain only numbers.","Message");
                return;
            }

            // Example API URL and data
            //const apiUrl = 'https://example.com/api/updateContact';
            const apiUrl = `${window.location.origin}/updateContact`;
            const requestData = {
                contactNumber: contactNumber,
                stuId: studentId
            };

            // Make the API call
            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    toastr["success"](data.success,"Success");
                    $('#myModal').modal('hide');
                } else if(data.error){
                    toastr["error"](data.error,"Error");
                } else if(data.empty_response){

                } else {
                    toastr["error"]("Failed to update contact number","Error");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                toastr["error"]("An error occurred while updating the contact number","Error");
            });
        });

        function checkMonths(){
            event.preventDefault();
            if($('#academicStudentId').val().toString()===''){
                showWarningMsg("error","Student is missing, please select a student!","Message");
                return false;
            }

            if($("#feedate").val().toString()==''){
                //toastr["warning"]("Fee Date is missing!","Message");
                showWarningMsg("error","Fee Date is missing!","Message");
                return false;
            }
            if($("#totalAmount").val().toString()==''){
                showWarningMsg("error","Total Amount is missing!","Message");
                //toastr["warning"]("Total Amount is missing!","Message");
                return false;
            }
            if($("#paidAmount").val().toString()==''){
                //toastr["warning"]("Paid Amount is missing!","Message");
                showWarningMsg("error","Paid Amount is missing!","Message");
                return false;
            }
            if($("#balanceAmount").val().toString()==''){
                //toastr["warning"]("Balance Amount is missing!","Message");
                showWarningMsg("error","Balance Amount is missing!","Message");
                return false;
            }


            $('#feeSubmitBtn').attr('disabled',true);
            document.forms.feesubmission.submit();
            return true;
        }

        function showWarningMsg(msgType, msg, headerValue){
            toastr[msgType](msg,headerValue);
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }


    </script>

</section>
</body>
</html>