<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>UAIC - Student</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row mt-2 ">
            <div class="col-md-12">
                <div class="card-header fs-3">Total Deposited Fee</div>
                <hr/>
                <div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="medium" class="form-label">Medium</label>
                            <select name="medium" id="medium" class="form-select">
                                <option value="">Select Medium</option>
                                <option th:each="med : ${mediums}" th:value="${med.id}" th:text="${med.mediumName}">Medium</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="grade" class="form-label">Grade</label>
                            <select name="grade" id="grade" class="form-select">
                                <option value="">Select Grade</option>
                                <option th:each="grade : ${grades}" th:value="${grade.id}" th:text="${grade.gradeName}">Grade</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="section" class="form-label">Section</label>
                            <select name="section" id="section" class="form-select">
                                <option value="">Select Section</option>
                                <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionName}">Section</option>
                            </select>
                        </div>

                        <div class="col-md-3 align-self-end">
                            <div class="col-sm-5">
                                <button name="getfee" id="getfee" class="btn btn-primary"><i class="bi bi-search"></i> Get List </button>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="row" id="printable-div" style="display: none">
                    <div class="card-header fs-3">Deposited Fee(s) Detail</div><hr/>

                    <div class="row">
                        <div class="student-details" id="student-collection-data">

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
    <script src="/js/flatpickr.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>-->

    <script type="text/javascript" th:inline="javascript">
        flatpickr("#lastdate", {
            dateFormat: "d/M/Y",  // Equivalent to dd/MMM/yyyy
        });

        function showWarningMsg(msgType, msg, headerValue){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "600",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr[msgType](msg,headerValue);
        }

        $('#getfee').click(async function() {
            $("#student-collection-data").empty();
            $("#printable-div").hide();
            const medium = $('#medium').val();
            const grade = $('#grade').val();
            const section = $('#section').val();

            if(medium === '' || grade === '' || section === '' ){
                showWarningMsg('error','Medium/Grade/Section all are mandatory',"Warning");
                return;
            }
            let checkBoxes = "";

            let url = `${window.location.origin}/getTotalDepositedFeeSubmittedDetailsForGrades`;
            try{
                const requestBody = {
                    checkBoxes: checkBoxes,
                    grade: grade,
                    medium: medium,
                    section: section
                };
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                });
                console.log("response "+response);
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                //console.log("-----------------------------")
                const data = await response.json();
                /*console.log("res: "+data.FEE_DATA);
                console.log("res: "+data.NO_STUDENT_FOUND);
                console.log("res:3: "+data);
                console.log("res:4: "+data.error);*/
                if(data.NO_STUDENT_FOUND!=null){
                    $("#student-collection-data").empty();
                    $("#printable-div").hide();
                    showWarningMsg("error", data.NO_STUDENT_FOUND, "No Data");
                    return;
                } else if(data.NO_PARAMS_FOUND!=null) {
                    $("#student-collection-data").empty();
                    $("#printable-div").hide();
                    showWarningMsg("error", data.NO_PARAMS_FOUND, "No Data");
                    return;
                } else{
                    if (!data.FEE_DATA || data.FEE_DATA.length === 0) {
                        if(data.error.length >0){
                            showWarningMsg("error", data.error, "No Data");
                            return;
                        }
                        $("#student-collection-data").empty();
                        $("#printable-div").hide();
                        showWarningMsg("error", "No matching data found", "No Data");
                        return;
                    }
                    // If userWiseFeeCollection is a string, show a message
                    if (typeof data.FEE_DATA === 'string') {
                        $("#student-collection-data").empty();
                        $("#printable-div").hide();
                        showWarningMsg("error",`${data.FEE_DATA}`,"No Data");
                        return; // Stop further execution
                    }
                    if(data.FEE_DATA!=null){
                        let stulist = data.FEE_DATA;
                        /*console.log(stulist);
                        console.log(stulist.length);*/
                        let monthslist = data.MONTHS;
                        $("#printable-div").show();
                        let tblData = `<table class="table table-striped table-bordered table-sm" id="studentTable">
                            <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Student Details</th>
                                <th>SR No</th>`;
                        for(let l=0;l<monthslist.length;l++){
                            tblData+=`<th>${monthslist[l].toUpperCase()}</th>`;
                        }
                        tblData+=`</tr></thead><tbody class="table-group-divider">`;
                        let counter = 1;
                        for (let key in stulist) {
                            if (stulist.hasOwnProperty(key)) {
                                let studentData = stulist[key];
                                /*console.log("key====== "+key);
                                console.log("Student::: "+studentData[0]);
                                console.log("Student::: "+studentData[0].academicStudent);*/
                                let srno = studentData[0].academicStudent.classSrNo ? studentData[0].academicStudent.classSrNo.trim() : '';
                                let grd = studentData[0].academicStudent.grade.gradeName + ' - ' + studentData[0].academicStudent.section.sectionName;
                                //let stuDetail = studentData[0].academicStudent.student.studentName + '</br>' + studentData[0].academicStudent.student.fatherName + '</br>' + studentData[0].academicStudent.student.motherName + '</br';
                                let s = studentData[0].academicStudent.student;
                                let stuDetail = `${s.studentName}<br>${s.fatherName}<br>${s.motherName}<br>`;
                                let isActiveStudent = s.status==='Active'?true:false;
                                let stuId = studentData[0].academicStudent.id;
                                console.log(" studentData[0].:"+studentData[0]);
                                tblData += `<tr class="${isActiveStudent?'':'table-danger'}">
                                    <td><small>${counter}</small></td>
                                    <td><small>${stuDetail}</small></td>
                                    <td><small>${srno}</small></td>`;
                                let myMap = new Map();
                                //for(let monName in monthslist){
                                console.log("stu length: "+studentData.length);
                                    let lastBalanceAmount = 0;
                                    for (let i = 0; i < studentData.length; i++){
                                        let studentObj = studentData[i];
                                        let balanceAmount = studentObj.balanceAmount;
                                        if(balanceAmount!==undefined){
                                            lastBalanceAmount = balanceAmount;//>0?balanceAmount:lastBalanceAmount;
                                            myMap.set(stuId, lastBalanceAmount);
                                        }
                                    }
                                    for (let i = 0; i < studentData.length; i++){
                                        let studentObj = studentData[i];
                                        let feeLbl = '';
                                        let balanceAmount = undefined;
                                        if(studentObj.balanceAmount!= undefined){
                                            balanceAmount = studentObj.balanceAmount;//studentObj.balanceAmount ?? 0; // nullish coalescing
                                        }
                                        if(stuId==myMap.has(stuId)){
                                            balanceAmount = myMap.get(stuId);
                                        }
                                        if(studentObj.blankData===1){
                                            feeLbl = ``;
                                        } else{
                                            feeLbl = `Receipt No: ${studentObj.receipt}<br>Date: ${studentObj.submitDate}<br>Amount: &#8377; ${studentObj.feeSubmitted}<br>Late Fee: &#8377; ${studentObj.fineAmount}`;
                                        }
                                        console.log("studentObj.balanceAmount----------------------"+balanceAmount + " i: "+(i+1) + " studentData.length: "+studentData.length);
                                        if(balanceAmount>0){
                                            feeLbl+=`<br><small class="text-bg-danger">Balance Amount: &#8377; ${balanceAmount}</small>`;
                                        }
                                        //console.log("studentData====== "+studentObj);
                                        //console.log("studentData.academicStudent====== "+studentObj.academicStudent);
                                        //console.log("Counter - "+i+"   --"+studentObj.totalPaidAmount+" - "+studentObj.submitDate);
                                        //let isStudentDataPresent = studentData==='NO_DATA_FOUND'?false:true;
                                        tblData+=`<td><small>${feeLbl}</small></td>`;
                                    }
                                //}
                                tblData+=`</tr>`;
                                counter++;
                            }
                        }
                        tblData+=`</tbody></table>`;
                        //console.log("table last-"+tblData)
                        $("#student-collection-data").html(tblData);
                        const exportColumns = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14];
                        const columnDefs = [{ "orderable": false, "targets": [0] }];
                        $("#studentTable").DataTable({
                            scrollX: true,
                            autoWidth: false,
                            scrollCollapse: true,
                            paging: true,
                            sort: false,
                            fixedColumns: false,
                            layout: {
                                bottomEnd: {
                                    paging: {
                                        firstLast: false
                                    }
                                },
                                top1Start: {
                                    buttons: [
                                        {
                                            extend: 'excelHtml5',
                                            text: '<i class="bi bi-file-excel-fill text-success"></i>',
                                            titleAttr: 'Excel',
                                            title: 'Total Students Deposited Fees Data export',
                                            exportOptions: {
                                                columns: exportColumns
                                            }
                                        },
                                        {
                                            extend: 'csvHtml5',
                                            text: '<i class="bi bi-filetype-csv text-info"></i>',
                                            titleAttr: 'CSV',
                                            title: 'Total Students Deposited Fees Data export'
                                        },
                                        {
                                            extend: 'pdfHtml5',
                                            text: '<i class="bi bi-file-pdf-fill text-danger"></i>',
                                            titleAttr: 'PDF',
                                            orientation: 'landscape',
                                            scale: '40%',
                                            pageSize: 'A3',
                                            title: 'Total Students Deposited Fees Data export',
                                            customize: function (doc) {
                                                doc.defaultStyle.fontSize = 8; // smaller font helps fit more columns
                                            },
                                            exportOptions: {
                                                columns: exportColumns
                                            }
                                        },
                                        'colvis'
                                    ]
                                }
                            },
                            lengthMenu: [
                                [5, 10, 25, 50, 100, -1],
                                [5, 10, 25, 50, 100, 'All']
                            ],
                            pageLength: 25,
                            columnDefs: columnDefs
                        });
                        $(".buttons-excel, .buttons-csv, .buttons-pdf").each(function() {
                            // Remove the btn-secondary class from each button
                            $(this).removeClass("btn-secondary");
                        });

                    }
                    if(data.error!=null){
                        $("#student-collection-data").empty();
                        $("#printable-div").hide();
                        showWarningMsg('error', "11111 "+data.error, "Error");
                    }
                }


            } catch(error) {
                $("#student-collection-data").empty();
                $("#printable-div").hide();
                showWarningMsg('error', "There was a problem with the fetch operation: " + error, "Error");
            }
        });



    </script>
</section>

</body>
</html>