<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>
</head>
<body>
<section>

  <div class="container">
    <div class="mt-2 gy-5 mb-5">
      <div class="card-header fs-3">Edit Employee </div>
      <hr/>
      <form th:action="@{/employee/employee-save}" th:object="${employee}" method="post" class="row g-3" enctype="multipart/form-data">
        <div class="col-12">
          <h4>Personal Information</h4>
        </div>
        <input type="hidden" name="school_id" id="school_id" th:field="*{school.id}"/>
        <input type="hidden" name="id" th:field="*{id}"/>
        <input type="hidden" name="uuid" th:field="*{uuid}"/>
        <div class="col-md-6">
          <label for="employeeName" class="form-label">Employee Name</label>
          <input type="text" id="employeeName" class="form-control" th:field="*{employeeName}">
          <p class="text-danger" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}">emp name Error</p>
        </div>
        <div class="col-md-3">
          <label for="dob" class="form-label">Date of Birth</label>
          <input type="text" id="dob" class="form-control" th:field="*{dob}">
          <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">f name Error</p>
        </div>
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
          <label for="fatherName" class="form-label">Father Name</label>
          <input type="text" id="fatherName" class="form-control" th:field="*{fatherName}">
          <p class="text-danger" th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}">f name Error</p>
        </div>
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
          <label for="motherName" class="form-label">Mother Name</label>
          <input type="text" id="motherName" class="form-control" th:field="*{motherName}">
          <p class="text-danger" th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}">m name Error</p>
        </div>
        <div class="col-md-6">
        </div>

        <div class="col-md-4">
          <label for="customerPic" class="form-label">Employee Image</label>
          <input type="file" class="form-control" id="customerPic" name="customerPic">
          <p class="text-danger" th:if="${#fields.hasErrors('pic')}" th:errors="*{pic}">pic Error</p>
        </div>
        <div class="col-md-2">
          <label for="nationality" class="form-label">Nationality</label>
          <input type="text" id="nationality" class="form-control" th:field="*{nationality}" readonly="readonly">
        </div>
        <div class="col-md-6">
          <!-- Update this image tag -->
          <img th:src="@{'/images/employees/' + ${employee.pic}}" class="rounded float-start" alt="Employee Image" width="12%" height="100%" id="preImg"/>
          <!--<img th:src="@{/employee-images/{filename}(filename=${employee.pic})}"  alt="Employee Image2">-->
        </div>

        <div class="col-md-7">
          <label for="description" class="form-label">Description</label>
          <div class="form-floating">
            <textarea id="description" placeholder="Add description here" class="form-control" name="description" style="height: 100px;" rows="4" cols="50" th:field="*{description}"></textarea>
            <label for="description">Add Description Here</label>
          </div>
          <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</p>
        </div>
        <div class="col-md-5">
        </div>

        <div class="col-12">
          <h4>Contact Information</h4>
        </div>
        <div class="col-md-7">
          <label for="address" class="form-label">Address</label>
          <div class="form-floating">
            <textarea id="address" placeholder="Add address here" class="form-control" name="address" style="height: 100px;" rows="4" cols="50" th:field="*{address}"></textarea>
            <label for="address">Add Address</label>
          </div>
          <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</p>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <label for="landmark" class="form-label">Landmark</label>
          <input type="text" id="landmark" class="form-control" th:field="*{landmark}">
        </div>
        <div class="col-md-8"></div>

        <div class="col-md-3">
          <label for="mobile1" class="form-label">Mobile 1</label>
          <input type="text" id="mobile1" class="form-control intfields" th:field="*{mobile1}">
          <p class="text-danger" th:if="${#fields.hasErrors('mobile1')}" th:errors="*{mobile1}">City Error</p>
        </div>
        <div class="col-md-3">
          <label for="mobile2" class="form-label">Mobile 2</label>
          <input type="text" id="mobile2" class="form-control intfields" th:field="*{mobile2}">
          <p class="text-danger" th:if="${#fields.hasErrors('mobile2')}" th:errors="*{mobile2}">City Error</p>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-4">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" class="form-control" th:field="*{email}">
          <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">City Error</p>
        </div>
        <div class="col-md-8"></div>

        <div class="col-12">
          <h4>Professional Information</h4>
        </div>
        <div class="col-md-4">
          <label for="designation" class="form-label">Designation</label>
          <input type="text" id="designation" class="form-control" th:field="*{designation}">
          <p class="text-danger" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}">City Error</p>
        </div>
        <div class="col-md-4">
          <label for="department" class="form-label">Department</label>
          <input type="text" id="department" class="form-control" th:field="*{department}">
          <p class="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">City Error</p>
        </div>
        <div class="col-md-4"></div>
        <hr/>
        <div class="col-md-4">
          <a class="btn btn-info" href="/employee/employee-list"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>
        </div>
        <div class="col-md-6 mb-5">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Save</button>
        </div>
      </form>
    </div>
  </div>

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <link type="text/css" rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
  <script src="/js/flatpickr.js"></script>
  <script type="text/javascript" th:inline="javascript">
    $('.intfields').on('input', function() {
      this.value = this.value.replace(/[^0-9]/g, '');
    });
    flatpickr("#dob", {
      dateFormat: "d/M/Y",  // Equivalent to dd/MMM/yyyy
    });

    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "600",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    const successMessage = [[${success}]];
    if (successMessage) {
      toastr["success"](successMessage,"Success");
    }

    const infoMessage = [[${info}]];
    if (infoMessage) {
      toastr["info"](infoMessage, "Info");
    }

    const errorMessage = [[${error}]];
    if (errorMessage) {
      toastr["error"](errorMessage, "Error");
    }

  </script>
</section>
</body>
</html>