<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Student</title>


</head>
<body>
<section>
    <div class="container">
        <div class="row mt-2 ">
            <div class="col-md-12">
                <div class="card-header fs-3">Employee List</div>
                <hr/>
                <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasEmployee}" id="employee-list">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee#</th>
                            <th>Designation</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="employee, iter : ${employees}">
                            <td th:text="${employee.employeeName}"></td>
                            <td th:text="${employee.employeeCode}"></td>
                            <td th:text="${employee.designation}"></td>
                            <td th:text="${employee.mobile1}"></td>
                            <td th:text="${employee.getUserEntity().getEmail()}"></td>
                            <td th:text="${employee.address}"></td>
                            <td style="white-space: nowrap" class="text-center">
                                <a class="btn btn-primary" th:href="@{/employee/employee-edit/{uuid}(uuid=${employee.uuid})}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                                    <i class="bi bi-pencil-square"></i> </a>
                                <a class="btn btn-danger" th:href="@{/employee/employee-delete/{id}(id=${employee.uuid})}" data-bs-toggle="tooltip" data-bs-title="Default tooltip">
                                    <i class="bi bi-trash3-fill"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${!hasEmployee}">
                    <p class="text-center">No Employee found.</p>
                </div>
                <div class="pt-5 mb-5">
                    <a class="btn btn-success" href="/employee/employee-add"><i class="bi bi-node-plus-fill"></i> Add Employee</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $('#employee-list').DataTable({
                layout: {
                    bottomEnd: {
                        paging: {
                            firstLast: false
                        }
                    },
                    top1Start: {
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                text: '<i class="bi bi-file-excel-fill text-success"></i>',
                                titleAttr: 'Excel',
                                title: 'Employees Data export',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="bi bi-filetype-csv text-info"></i>',
                                titleAttr: 'CSV',
                                title: 'Employees Data export'
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="bi bi-file-pdf-fill text-danger"></i>',
                                titleAttr: 'PDF',
                                title: 'Employees Data export',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            },
                            'colvis'
                        ]
                    }
                },
                lengthMenu: [
                    [5, 10, 25, 50, 100, -1],
                    [5, 10, 25, 50, 100, 'All']
                ],
                pageLength: 25,
                columnDefs: [
                    { "orderable": false, "targets": [6] } // Disable sorting on the first and fourth columns
                ]
            });
            $(".buttons-excel, .buttons-csv, .buttons-pdf").each(function() {
                // Remove the btn-secondary class from each button
                $(this).removeClass("btn-secondary");
            });
        });

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "600",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        const successMessage = [[${success}]];
        if (successMessage) {
            toastr["success"](successMessage,"Success");
        }

        const infoMessage = [[${info}]];
        if (infoMessage) {
            toastr["info"](infoMessage, "Info");
        }

        const errorMessage = [[${error}]];
        if (errorMessage) {
            toastr["error"](errorMessage, "Error");
        }

        function showMsg(msgType, msg, headerValue){
            toastr[msgType](msg,headerValue);
        }
    </script>
</section>
</body>
</html>