<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>UAIC - Bank</title>
</head>
<body>
<section>

  <div class="container">
    <div class="row mt-2 ">
      <div class="col-md-6  offset-md-1 ">
        <div class="card-header fs-3">Bank List</div>
        <hr/>
        <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasBanks}">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>

          <tr th:each="bank : ${banks}">
            <td th:text="${bank.id}"></td>
            <td th:text="${bank.bankName}"></td>
            <td>
              <a class="btn btn-primary" th:href="@{/universal/bank/edit/{id}(id=${bank.id})}">
                <i class="bi bi-pencil-square"></i> </a>
              <a class="btn btn-danger" th:href="@{/universal/bank/delete/{id}(id=${bank.id})}" onclick="return confirm('Are you sure? its not recoverable.')">
                <i class="bi bi-trash3-fill"></i> </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div th:if="${!hasBanks}">
          <p class="text-center">No Bank found.</p>
        </div>
        <div class="pt-5">
          <a class="btn btn-success" href="/universal/bank/add"><i class="bi bi-node-plus-fill"></i> Add Bank</a>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>