<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Edit Bank</title>
</head>
<body>

<section>
  <div class="container">
    <div class="row mt-2">

      <div class="col-md-6 offset-md-1">
        <div class="card-header fs-3">Edit Bank</div>
        <hr/>
        <div class="form pt-3">
          <form th:action="@{/universal/bank/{id}(id=${bank.id})}" th:object="${bank}" method="post">
            <div class="mb-3">
              <label for="bank_name" class="form-label">Bank Name</label>
              <input type="text" class="form-control" id="bank_name" placeholder="ICICI" name="bank_name" th:field="*{bankName}" />
              <p class="text-danger" th:if="${#fields.hasErrors('bankName')}" th:errors="*{bankName}">Name Error</p>
            </div>
            <div class="col-12 offset-6">
              <button type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Update</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6  offset-md-1 ">
        <a class="btn btn-info" href="/universal/bank"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>
      </div>
    </div>
  </div>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/toastr.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    const successMessage = [[${success}]];
    if (successMessage) {
      showMsg("success", successMessage, "Success");
    }

    const infoMessage = [[${info}]];
    if (infoMessage) {
      showMsg("info", infoMessage, "Info");
    }

    const errorMessage = [[${error}]];
    if (errorMessage) {
      showMsg("error", errorMessage, "Error");
    }

    function showMsg(msgType, msg, headerValue){
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "600",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      toastr[msgType](msg,headerValue);
    }
  </script>
</section>

</body>
</html>


