<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>UAIC - Medium</title>
</head>
<body>
    <section>

        <div class="container">
            <div class="row mt-2 ">
                <div class="col-md-6  offset-md-2 ">
                    <div class="card-header fs-3">Medium List</div>
                    <hr/>
                    <table class="table table-bordered table-striped table-hover table-sm" th:if="${hasMediums}">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="medium : ${mediums}">
                            <td th:text="${medium.id}"></td>
                            <td th:text="${medium.mediumName}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/universal/medium/edit/{id}(id=${medium.id})}">
                                    <i class="bi bi-pencil-square"></i> </a>
                                <a class="btn btn-danger" th:href="@{/universal/medium/delete/{id}(id=${medium.id})}" onclick="return confirm('Are you sure? its not recoverable.')">
                                    <i class="bi bi-journal-x"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${!hasMediums}">
                        <p class="text-center">No Medium found.</p>
                    </div>
                    <div class="pt-5">
                        <a class="btn btn-success" href="/universal/medium/add"><i class="bi bi-node-plus-fill"></i> Add Medium</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>