.search-container {
    position: relative;
    z-index: 10; /* Ensure this container is above the cards */
}

.search-result{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #babbbc;
    display: none;
    z-index: 20; /* Ensure this container is above the cards */
}

#search-result1{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #babbbc;
    display: none;
    z-index: 20; /* Ensure this container is above the cards */
}

/*.search-block{
    position: absolute;
    z-index: 20;
}*/

.contact-update-btn button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.feereceiptbox{
    display: none;
    width: 100%;
    padding: 10px;
}

.fee-month-detail{
    font-size: 14px;
}

