.search-container {
    position: relative;
    z-index: 10; /* Ensure this container is above the cards */
}

.search-result{
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #5c636a;
    display: none;
    z-index: 20; /* Ensure this container is above the cards */
}

