<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8">
    <title>United Avadh Inter College - Siksha Web Portal</title>
    <link rel="stylesheet" crossorigin="anonymous" href="/css/bootstrap.min.css">
    <link rel="stylesheet" crossorigin="anonymous" href="/css/bootstrap-icons.css">
    <style type="text/css">
        .custom-tooltip-normal {
            --bs-tooltip-bg: var(--bs-primary);
        }
        .custom-tooltip-delete {
            --bs-tooltip-bg: var(--bs-danger);
        }
    </style>
</head>
<body class="bg-light">

<div th:replace="header :: navbar">

</div>

<div th:replace="${content}"></div>

<div th:replace="footer :: footer">
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->

<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/popper.min.js"></script>
</body>
</html>