<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:fragment="Layout(content)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shiksha Portal</title>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" crossorigin="anonymous"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <th:block th:if="${page == 'datatable'}">
        <link rel="stylesheet" th:href="@{/dtbl/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.css}" />
        <link rel="stylesheet" th:href="@{/css/buttons.bootstrap5.css}" />
    </th:block>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="stylesheet" crossorigin="anonymous" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body>
<div class="wrapper">
    <aside id="sidebar" class="js-sidebar">
        <!-- Content For Sidebar -->
        <div class="h-100">
            <div class="sidebar-logo text-center">
                <a href="#"><img th:src="@{/images/logoimg.jpg}" width="40px" height="40px" class="rounded"></a>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Admin Elements
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="bi bi-journal-richtext pe-2"></i>
                        Global Settings
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <!--<li class="sidebar-item">
                            &lt;!&ndash;<a href="#" class="sidebar-link">Page 1</a>&ndash;&gt;
                            <a class="sidebar-link submenu" href="/universal/medium"><i class="bi bi-patch-plus"></i> Medium</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Page 2</a>
                        </li>-->

                        <li class="sidebar-item submenu" ><a href="/universal/medium" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Medium</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/grade" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Grade</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/section" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Section</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/category" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Category</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/cast" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Cast</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/bank" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Bank</a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu" ><a href="/universal/feehead" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Fee head</a></li>
                        <li class="sidebar-item submenu" ><a href="/universal/discounthead" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Discount head</a></li>
                        <li class="sidebar-item submenu" ><a th:href="@{'/universal/finehead'}" class="sidebar-link"><i class="bi bi-patch-plus pe-2"></i> Fine head</a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>


                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="bi bi-gear pe-2"></i>
                        Admin Configuration
                    </a>
                    <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <!--<li class="sidebar-item">
                            <a href="#" class="sidebar-link">Post 1</a>
                        </li>-->

                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/customer'}"><i class="bi bi-person-lines-fill pe-2"></i> Customer </a></li>
                        <li sec:authorize="hasRole('ROLE_SUPERADMIN')" class="sidebar-item submenu">
                            <a class="sidebar-link" th:href="@{'/admin/school'}">
                                <i class="bi bi-building-add pe-2"></i> School
                            </a>
                        </li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" href="/universal/section"><i class="bi bi-person-circle pe-2"></i> User </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" href="/universal/category"><i class="bi bi-ui-checks pe-2"></i> Role </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/user-role-list'}"><i class="bi bi-ui-radios-grid pe-2"></i> Role-User Mapping </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/employee/employee-list'}"><i class="bi bi-people-fill pe-2"></i> Employee </a></li>
                        <li class="sidebar-item submenu"><hr class="dropdown-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/academicyear'}"><i class="bi bi-calendar2-range pe-2"></i> Academic Year </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/month-mapping'}"><i class="bi bi-border-style pe-2"></i> Month Mapping </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/feedate'}"><i class="bi bi-calendar3 pe-2"></i> Fee Date </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/fine'}"><i class="bi bi-journal-bookmark-fill pe-2"></i> Fine </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/fee-class'}"><i class="bi bi-diagram-3-fill pe-2"></i> Fee-Grade Map </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/fee-month'}"><i class="bi bi-diagram-3-fill pe-2"></i> Fee-Month Map </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/discount-class'}"><i class="bi bi-diagram-3-fill pe-2"></i> Discount-Grade Map </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/discount-month'}"><i class="bi bi-diagram-3-fill pe-2"></i> Discount-Month Map </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/full-payment-discount'}"><i class="bi bi-file-ruled-fill pe-2"></i> Full Payment Discount </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/select-columns'}"><i class="bi bi-file-ruled-fill pe-2"></i>Report Settings(Student)</a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>

                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                        Auth
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Login</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Register</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Forgot Password</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-header">
                    Scholar Elements
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#student" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="bi bi-person-video2 pe-2"></i>
                        Students
                    </a>
                    <ul id="student" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/student'}"><i class="bi bi-person-lines-fill pe-2"></i> Student Registration </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/admin/school'}"><i class="bi bi-building-add pe-2"></i> Update Aadhar Detail </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/sibling/sibling-group'}"><i class="bi bi-person-circle pe-2"></i> Sibling Group </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/sibling/assign-sibling-discount'}"><i class="bi bi-ui-checks pe-2"></i> Assign Sibling Discount </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-ui-checks pe-2"></i> Assign Discount </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/assign-sr'}"><i class="bi bi-pass-fill pe-2"></i> Assign SR </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-sign-merge-left-fill pe-2"></i> Migrate Student </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/edit-grade-section'}"><i class="bi bi-mortarboard-fill pe-2"></i> Edit Grade/Section </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-person-x pe-2"></i> Remove Student </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>

                    </ul>
                </li>

                <li class="sidebar-header">
                    Fee Elements
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#fee" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="bi bi-card-text pe-2"></i>
                        Fees
                    </a>
                    <ul id="fee" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{'/fees/fee-submit-form'}"><i class="bi bi-person-lines-fill pe-2"></i> Fee Submission </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{/fees/receipt/{id}(id=${5})}"><i class="bi bi-person-lines-fill pe-2"></i> Fee Receipt Print </a></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{/fees/fee-reminder}"><i class="bi bi-bell-fill pe-2"></i> Fee Reminder </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>
                        <li class="sidebar-item submenu"><a class="sidebar-link" th:href="@{/fees/fee-reminder}"><i class="bi bi-bell-fill pe-2"></i> Fee Cancellation </a></li>
                        <li class="sidebar-item submenu" ><hr class="sidebar-divider"></li>

                    </ul>
                </li>


                <li class="sidebar-header">
                    Statement Elements
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-solid fa-share-nodes pe-2"></i>
                        Reports
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-target="#level-1"
                               data-bs-toggle="collapse" aria-expanded="false">Fee Report</a>
                            <ul id="level-1" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">User-wise Collection</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Cancelled Fee List</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Total Deposited Fee List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-target="#level-2"
                               data-bs-toggle="collapse" aria-expanded="false">Student Report</a>
                            <ul id="level-2" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Student List</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Absent Student List</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Birth Certificate</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">ID Card Print</a>
                                </li>
                                <li class="sidebar-item submenu">
                                    <a href="#" class="sidebar-link">Deleted Student List</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-1 text-muted">
                            <strong><span th:text="${#strings.defaultString(session.school?.schoolName, 'E- Siksha Portal')}">CodzSwod</span></strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Profile</a>

                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>Session: <span th:text="${#strings.defaultString(session.activeAcademicYear?.sessionFormat, 'Not Set')}"></span></strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, <span th:text="${#authentication.name != null ? #authentication.name : 'Guest'}">Employee</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0" >
                            <!--Welcome, <span th:text="${#authentication.name != null ? #authentication.name : 'Guest'}">Employee</span>-->
                            <img src="/image/profile.jpg" class="avatar img-fluid rounded" alt="">

                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item" th:href="@{'/fees/fee-submit-form'}"><i class="bi bi-pencil-fill pe-2"></i> Change Password </a>
                            <a href="#" class="dropdown-item" th:href="@{/logout}"><i class="bi bi-box-arrow-left pe-2"></i> Logout </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>

        <!--All Content goes here-->
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div id="content" class="container-fluid" th:replace="${content}"></div>
            </div>
        </main>

        <a href="#" class="theme-toggle">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </a>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                            <a href="#" class="text-muted">
                                <strong><span th:text="${#strings.defaultString(session.school?.schoolName, 'E- Siksha Portal')}">CodzSwod</span></strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Contact</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">About Us</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Terms</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-muted">Booking</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>-->
<th:block th:if="${page == 'datatable'}">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/dtbl/bootstrap.bundle.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="/js/dataTables.bootstrap5.js"></script>

    <script src="/js/dataTables.buttons.js"></script>
    <script src="/js/buttons.bootstrap5.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/pdfmake.min.js"></script>
    <script src="/js/vfs_fonts.js"></script>
    <script src="/js/buttons.html5.min.js"></script>

    <script src="/js/select2.min.js"></script>
</th:block>
<th:block th:unless="${page == 'datatable'}">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <!--<script src="/js/popper.min.js"></script>-->
    <!--<script src="/js/bootstrap.js"></script>-->
    <script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/select2.min.js"></script>
</th:block>

</body>

</html>
