<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-th-fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" mb-0 h1 href="#">United Avadh Inter College</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{'/'}"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-journal-richtext"></i> Configuration
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/universal/medium"><i class="bi bi-patch-plus"></i> Medium</a></li>
            <li><a class="dropdown-item" href="/universal/grade"><i class="bi bi-patch-plus"></i> Grade</a></li>
            <li><a class="dropdown-item" href="/universal/section"><i class="bi bi-patch-plus"></i> Section</a></li>
            <li><a class="dropdown-item" href="/universal/category"><i class="bi bi-patch-plus"></i> Category</a></li>
            <li><a class="dropdown-item" href="/universal/cast"><i class="bi bi-patch-plus"></i> Cast</a></li>
            <li><a class="dropdown-item" href="/universal/bank"><i class="bi bi-patch-plus"></i> Bank</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/universal/feehead"><i class="bi bi-patch-plus"></i> Fee head</a></li>
            <li><a class="dropdown-item" href="/universal/discounthead"><i class="bi bi-patch-plus"></i> Discount head</a></li>
            <li><a class="dropdown-item" th:href="@{'/universal/finehead'}"><i class="bi bi-patch-plus"></i> Fine head</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear"></i> Global Settings
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" th:href="@{'/admin/customer'}"><i class="bi bi-person-lines-fill"></i> Customer </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/school'}"><i class="bi bi-building-add"></i> School </a></li>
            <li><a class="dropdown-item" href="/universal/section"><i class="bi bi-person-circle"></i> User </a></li>
            <li><a class="dropdown-item" href="/universal/category"><i class="bi bi-ui-checks"></i> Role </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{'/admin/academicyear'}"><i class="bi bi-calendar2-range"></i> Academic Year </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/month-mapping'}"><i class="bi bi-border-style"></i> Month Mapping </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/feedate'}"><i class="bi bi-calendar3"></i> Fee Date </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/fine'}"><i class="bi bi-journal-bookmark-fill"></i> Fine </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{'/admin/fee-class'}"><i class="bi bi-diagram-3-fill"></i> Fee-Class Map </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/fee-month'}"><i class="bi bi-diagram-3-fill"></i> Fee-Month Map </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/discount-class'}"><i class="bi bi-diagram-3-fill"></i> Discount-Class Map </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/discount-month'}"><i class="bi bi-diagram-3-fill"></i> Discount-Month Map </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/full-payment-discount'}"><i class="bi bi-file-ruled-fill"></i> Full Payment Discount </a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-video2"></i> Student
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" th:href="@{'/student/student'}"><i class="bi bi-person-lines-fill"></i> Student Registration </a></li>
            <li><a class="dropdown-item" th:href="@{'/admin/school'}"><i class="bi bi-building-add"></i> Update Aadhar/Bank Detail </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{'/sibling/sibling-group'}"><i class="bi bi-person-circle"></i> Sibling Group </a></li>
            <li><a class="dropdown-item" th:href="@{'/sibling/assign-sibling-discount'}"><i class="bi bi-ui-checks"></i> Assign Sibling Discount </a></li>
            <li><a class="dropdown-item" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-ui-checks"></i> Assign Discount </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-pass-fill"></i> Assign SR </a></li>
            <li><a class="dropdown-item" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-sign-merge-left-fill"></i> Migrate Student </a></li>
            <li><a class="dropdown-item" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-mortarboard-fill"></i> Edit Grade/Section </a></li>
            <li><a class="dropdown-item" th:href="@{'/student/stu-discount-list'}"><i class="bi bi-person-x"></i> Remove Student </a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-card-text"></i> Fee
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" th:href="@{'/fees/fee-submit-form'}"><i class="bi bi-person-lines-fill"></i> Fee Submission </a></li>
            <li><a class="dropdown-item" th:href="@{/fees/receipt/{id}(id=${5})}"><i class="bi bi-person-lines-fill"></i> Fee Receipt Print </a></li>
            <li><a class="dropdown-item" th:href="@{/fees/fee-reminder}"><i class="bi bi-bell-fill"></i> Fee Reminder </a></li>
            <!--<li><a class="dropdown-item" th:href="@{/fees/receipt-print/{id}(id=${2})}"><i class="bi bi-person-lines-fill"></i> Fee Receipt </a></li>-->

          </ul>
        </li>




      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>