<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset Successful</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="alert alert-success mt-5">
        <h4 class="alert-heading">Success!</h4>
        <p>Your password has been successfully reset.</p>
        <hr>
        <a href="/login" class="btn btn-primary">Go to Login</a> <!-- Link to the login page -->
    </div>
</div>
</body>
</html>
